Repository burdettadam/marty-microservices-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-quality-check, dependencies-check, docs-consistency, makefile-validation, database-layer-validation, service-isolation-validation, template-syntax-validation, template-consistency-validation, cli-functionality-validation, dashboard-validation

code-quality-check:
  name: Code Quality Check (Complexity & Length)
  entry: uv run python scripts/check_code_quality.py
  language: system
  require_serial: true
  pass_filenames: false

dependencies-check:
  name: Check Framework Dependencies
  entry: bash
  language: system
  args:
  - -c
  - uv run python -c "import jinja2, pathlib, ast, argparse; print(\"✅ All dependencies available\")"
  require_serial: true
  pass_filenames: false

docs-consistency:
  name: Check Documentation Consistency
  entry: bash
  language: system
  args:
  - -c
  - grep -q "Marty Microservices Framework" README.md && echo "✅ Documentation title consistent"
  require_serial: true
  pass_filenames: false

makefile-validation:
  name: Validate Makefile Targets
  entry: bash
  language: system
  args:
  - -c
  - make -n help > /dev/null && echo "✅ Makefile syntax valid"
  require_serial: true
  pass_filenames: false

database-layer-validation:
  name: Validate Database Abstraction Layer
  entry: bash
  language: system
  args:
  - -c
  ...

service-isolation-validation:
  name: Validate Service Isolation Patterns
  entry: bash
  language: system
  args:
  - -c
  ...

template-syntax-validation:
  name: Validate Template Syntax and Structure
  entry: bash
  language: system
  args:
  - -c
  ...

template-consistency-validation:
  name: Validate Multi-Language Template Consistency
  entry: bash
  language: system
  args:
  - -c
  ...

cli-functionality-validation:
  name: Validate CLI Functionality
  entry: bash
  language: system
  args:
  - -c
  ...

dashboard-validation:
  name: Validate Dashboard Components
  entry: bash
  language: system
  args:
  - -c
  ...

feat: fewer globals
  ops/ci-cd/cicd/__init__.py
  pyproject.toml
  src/marty_msf/cli/__init__.py
  src/marty_msf/framework/testing/patterns.py
  src/marty_msf/observability/__init__.py
  src/marty_msf/observability/framework_metrics.py.bak
  src/marty_msf/security/audit/__init__.py
  src/marty_msf/security/compliance/__init__.py
  src/marty_msf/security/compliance/unified_scanner.py
  src/marty_msf/security/engines/acl_engine.py
  src/marty_msf/security/engines/builtin_engine.py
  src/marty_msf/security/engines/opa_engine.py
  src/marty_msf/security/engines/oso_engine.py
  src/marty_msf/security/factories.py
  src/marty_msf/security/interfaces.py
  src/marty_msf/security/manager.py
  src/marty_msf/security/mesh/istio_security.py
  src/marty_msf/security/mesh/linkerd_security.py
  src/marty_msf/security/policy_engines/opa_service.py
  src/marty_msf/security/providers/local_provider.py
  src/marty_msf/security/providers/oauth2_provider.py
  src/marty_msf/security/providers/oidc_provider.py
  src/marty_msf/security/providers/saml_provider.py
  src/marty_msf/security/registry.py
  src/marty_msf/security/unified_framework.py
Due: code-quality-check

feat: fewer circular deps
  src/marty_msf/observability/factories.py
  src/marty_msf/observability/framework_metrics.py
  src/marty_msf/observability/standard.py
  src/marty_msf/observability/tracing.py
  src/marty_msf/security/__init__.py
  src/marty_msf/security/decorators.py
  src/marty_msf/security/factories.py
  src/marty_msf/security/interfaces.py
  src/marty_msf/security/manager.py
  src/marty_msf/security/rate_limiting.py
  src/marty_msf/security/registry.py
  src/marty_msf/security/unified_framework.py
  tools/scaffolding/microservice_project_template/src/microservice_template/proto/greeter_pb2.py
Due: code-quality-check

feat: complete security module refactoring with level contract architecture
  .pre-commit-config.yaml
  docs/ARCHITECTURE_ANALYSIS_REPORT.md
  docs/guides/Refactoring the Security Module with a Level Contract Architecture.pdf
  docs/guides/Refactoring the security module.md
  docs/guides/SECURITY_REFACTORING_COMPLETION_SUMMARY.md
  docs/guides/SECURITY_REFACTORING_SUMMARY.md
  docs/internal_import_analysis.json
  examples/demos/petstore_domain/app/services/security_service.py
  examples/security_level_contract_example.py
  pyproject.toml
  src/marty_msf/security/__init__.py
  src/marty_msf/security/api.py
  src/marty_msf/security/audit_impl.py
  src/marty_msf/security/auth_impl.py
  src/marty_msf/security/authz_impl.py
  src/marty_msf/security/bootstrap.py
  src/marty_msf/security/bridge.py
  src/marty_msf/security/caching.py
  src/marty_msf/security/grpc_interceptors.py
  src/marty_msf/security/grpc_interceptors_new.py
  src/marty_msf/security/manager.py
  src/marty_msf/security/secrets_impl.py
  src/marty_msf/security/sessions.py
  src/marty_msf/security/unified_framework.py
  tools/analyze_project_imports.py
  tools/architecture_visualizer.py
  tools/circular_deps_detailed.py
Due: code-quality-check, docs-consistency

chore(security): finish level-contract refactor, bridge for migration, remove globals, enforce import contracts
  examples/security/basic_security_example.py
  examples/security/enhanced_service_mesh_demo.py
  examples/security/test_unified_framework.py
Due: none

Complete security module refactoring: level contract architecture with DI container
  examples/security/basic_security_example.py
  examples/security/test_unified_framework.py
  src/marty_msf/security/__init__.py
  src/marty_msf/security/api.py
  src/marty_msf/security/bridge.py
Due: code-quality-check

feat: complete security refactoring - migrate example to new architecture and validate functionality
  examples/security/basic_security_example_backup.py
  src/marty_msf/framework/config/__init__.py
  src/marty_msf/security/bootstrap.py
  test_security_refactoring.py
  tests/conftest.py
Due: code-quality-check

feat: upgrade to Python 3.14 and validate security refactoring functionality
  pyproject.toml
  validate_security_functionality.py
Due: code-quality-check

Fix global variables in security module
  src/marty_msf/security/__init__.py
  src/marty_msf/security/canonical.py
  src/marty_msf/security/decorators.py
  src/marty_msf/security/factories.py.deprecated
  src/marty_msf/security/interfaces.py
  src/marty_msf/security/manager.py.deprecated
  src/marty_msf/security/new_decorators.py
Due: code-quality-check

Complete security refactoring: remove legacy code and backwards compatibility
  src/marty_msf/security/__init__.py
  src/marty_msf/security/compliance/unified_scanner.py
  src/marty_msf/security/decorators.py
  src/marty_msf/security/factories.py.deprecated
  src/marty_msf/security/framework.py
  src/marty_msf/security/interfaces.py
  src/marty_msf/security/manager.py.deprecated
  src/marty_msf/security/new_decorators.py
  src/marty_msf/security/providers/local_provider.py
  src/marty_msf/security/providers/oauth2_provider.py
  src/marty_msf/security/providers/oidc_provider.py
  src/marty_msf/security/providers/saml_provider.py
Due: code-quality-check

Complete security refactoring: remove legacy interfaces.py and consolidate to api.py
  src/marty_msf/security/__init__.py
  src/marty_msf/security/api.py
  src/marty_msf/security/compliance/__init__.py
  src/marty_msf/security/engines/acl_engine.py
  src/marty_msf/security/engines/builtin_engine.py
  src/marty_msf/security/engines/opa_engine.py
  src/marty_msf/security/engines/oso_engine.py
  src/marty_msf/security/interfaces.py
  src/marty_msf/security/mesh/istio_security.py
  src/marty_msf/security/mesh/linkerd_security.py
  validate_security_functionality.py
Due: code-quality-check

feat: complete security refactoring cleanup - remove backward compatibility code
  src/marty_msf/security/audit/__init__.py
  src/marty_msf/security/bootstrap.py
  src/marty_msf/security/canonical.py
  src/marty_msf/security/compliance/__init__.py
Due: code-quality-check

Fix self-cycles in Python imports
  internal_import_analysis.json
  src/marty_msf/framework/discovery/__init__.py
  src/marty_msf/framework/discovery/manager.py
  src/marty_msf/framework/discovery/mesh.py
  src/marty_msf/framework/discovery/registry.py
  src/marty_msf/framework/ml/feature_store/__init__.py
  src/marty_msf/framework/ml/feature_store/interface.py
  src/marty_msf/framework/ml/feature_store/store_impl.py
  src/marty_msf/framework/ml/intelligent_services.py
  src/marty_msf/framework/ml/intelligent_services_original.py
  src/marty_msf/framework/ml/intelligent_services_shim.py
  src/marty_msf/security/caching.py
Due: code-quality-check

Refactor plugin system using API/Bootstrap pattern
  internal_import_analysis.json
  src/marty_msf/framework/plugins/__init__.py
  src/marty_msf/framework/plugins/core.py
  src/marty_msf/framework/plugins/decorators.py
  src/marty_msf/framework/plugins/discovery.py
  src/marty_msf/framework/plugins/services.py
Due: code-quality-check

feat: di container in security
  src/marty_msf/security/__init__.py
  src/marty_msf/security/bootstrap.py
  src/marty_msf/security/canonical.py
  src/marty_msf/security/decorators.py
  src/marty_msf/security/factory.py
  src/marty_msf/security/middleware.py
  src/marty_msf/security/monitoring.py
  verify_factory_di.py
Due: code-quality-check

feat: enhance GitHub workflows for MMF-focused testing with KIND
  .github/workflows/BRANCH_CONFIG.md
  .github/workflows/ENHANCEMENT_SUMMARY.md
  .github/workflows/MMF_FOCUS_SUMMARY.md
  .github/workflows/README.md
  .github/workflows/comprehensive-e2e.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pr-validation.yml
  .github/workflows/quick-e2e-kind.yml
  tests/run_mmf_tests.sh
Due: docs-consistency

fix: improve workflow summary job error handling and resilience
  .github/workflows/comprehensive-e2e.yml
  .github/workflows/pr-validation.yml
Due: none

feat: add builds status check to PR validation workflow
  .github/workflows/pr-validation.yml
Due: none

fix: ensure Docker image is loaded locally for container testing
  .github/workflows/pr-validation.yml
Due: none

fix: resolve test import and fixture issues identified in PR feedback
  .pre-commit-config.yaml
  tests/chaos/conftest.py
  tests/contract/conftest.py
  tests/contract/test_identity_service_contract.py
  tests/e2e/README.md
  tests/e2e/run_jwt_e2e_tests.sh
  tests/e2e/test_jwt_auth_e2e.py
  tests/e2e/test_jwt_integration_e2e.py
  tests/performance/conftest.py
  tests/performance/test_performance_examples.py
  tests/security/conftest.py
  tests/unit/mmf_new/__init__.py
  tests/unit/mmf_new/services/__init__.py
  tests/unit/mmf_new/services/identity/__init__.py
  tests/unit/mmf_new/services/identity/application/test_authenticate_with_jwt.py
  tests/unit/mmf_new/services/identity/application/test_validate_token.py
  tests/unit/mmf_new/services/identity/domain/test_authenticated_user.py
  tests/unit/mmf_new/services/identity/domain/test_authentication_result.py
  tests/unit/mmf_new/services/identity/infrastructure/test_jwt_adapter.py
  tests/unit/mmf_new/services/identity/integration/__init__.py
Due: docs-consistency

feat: migrate JWT authentication to hexagonal architecture
  .flake8
  debug_jwt_integration.py
  examples/jwt_auth_demo.py
  mmf/integration/__init__.py
  mmf/integration/configuration.py
  mmf/integration/http_endpoints.py
  mmf/integration/middleware.py
  mmf_new/services/identity/application/ports_out/__init__.py
  mmf_new/services/identity/application/ports_out/token_provider.py
  mmf_new/services/identity/application/use_cases/__init__.py
  mmf_new/services/identity/application/use_cases/authenticate_with_jwt.py
  mmf_new/services/identity/application/use_cases/validate_token.py
  mmf_new/services/identity/domain/models/__init__.py
  mmf_new/services/identity/domain/models/authenticated_user.py
  mmf_new/services/identity/domain/models/authentication_result.py
  mmf_new/services/identity/infrastructure/adapters/__init__.py
  mmf_new/services/identity/infrastructure/adapters/config_integration.py
  mmf_new/services/identity/infrastructure/adapters/http_adapter.py
  mmf_new/services/identity/infrastructure/adapters/http_endpoints.py
  mmf_new/services/identity/infrastructure/adapters/jwt_adapter.py
  mmf_new/services/identity/infrastructure/adapters/jwt_middleware.py
  mmf_new/services/identity/integration/__init__.py
  mmf_new/services/identity/integration/configuration.py
  mmf_new/services/identity/integration/http_endpoints.py
  mmf_new/services/identity/integration/middleware.py
  pyproject.toml
  tests/e2e/test_jwt_auth_e2e.py
  tests/e2e/test_jwt_integration_e2e.py
  tests/performance/conftest.py
Due: code-quality-check

Fix JWT authentication middleware async issues
  mmf_new/services/identity/integration/middleware.py
Due: code-quality-check

Convert Dockerfile to use uv instead of pip + requirements.txt
  Dockerfile
Due: none

fix: update AuthenticatePrincipalUseCase to use new AuthenticationResult API
  mmf_new/services/identity/application/usecases/__init__.py
  mmf_new/services/identity/infrastructure/adapters/http_adapter.py
  mmf_new/services/identity/integration/http_endpoints.py
  mmf_new/services/identity/tests/test_authentication_usecases.py
  mmf_new/services/identity/tests/test_integration.py
Due: code-quality-check

Fix SQLAlchemy savepoint transaction bug
  boneyard/framework_migration_20251106/old_database_framework/transaction.py
  mmf_new/core/application/transaction.py
Due: code-quality-check

Fix Dockerfile to properly start identity service container
  Dockerfile
Due: none

fix: Configure transaction after begin() to avoid implicit nested transaction
  boneyard/framework_migration_20251106/old_database_framework/transaction.py
  mmf_new/core/application/transaction.py
Due: code-quality-check

Fix bulk_delete detached entity issue
  mmf_new/core/infrastructure/repository.py
Due: code-quality-check

Add UseCase base class to fix JWT authentication import error
  mmf_new/core/application/base.py
Due: code-quality-check

Fix JSONB value formatting in SQLGenerator.generate_insert_with_jsonb
  mmf_new/core/application/sql.py
Due: code-quality-check

Fix database utilities transaction management
  mmf_new/core/application/utilities.py
Due: code-quality-check

Fix detached instance issues in repository update and delete methods
  mmf_new/core/infrastructure/repository.py
Due: code-quality-check

refactor: move CLI and generators to boneyard
  .pre-commit-config.yaml
  boneyard/cli_generators_migration_20251109/README.md
  boneyard/cli_generators_migration_20251109/cli/__init__.py
  boneyard/cli_generators_migration_20251109/cli/__main__.py
  boneyard/cli_generators_migration_20251109/cli/api_commands.py
  boneyard/cli_generators_migration_20251109/cli/commands.py
  boneyard/cli_generators_migration_20251109/cli/generators.py
  boneyard/cli_generators_migration_20251109/generators/advanced_cli.py
  boneyard/cli_generators_migration_20251109/generators/dependency_manager.py
  boneyard/cli_generators_migration_20251109/generators/plugin_system.py
  boneyard/cli_generators_migration_20251109/generators/template_customization.py
  boneyard/cli_generators_migration_20251109/generators/testing_automation.py
  boneyard/cli_generators_migration_20251109/test_cli.py
  boneyard/cli_generators_migration_20251109/test_sql_generator.py
  pyproject.toml
  scripts/dev/test_runner.py
Due: code-quality-check, docs-consistency

feat: Database infrastructure migration to mmf_new complete
  mmf_new/MIGRATION_SUMMARY.md
  mmf_new/core/application/database.py
  mmf_new/core/domain/database.py
  mmf_new/core/infrastructure/__init__.py
  mmf_new/core/infrastructure/database.py
  mmf_new/core/infrastructure/migration.py
  mmf_new/core/infrastructure/transaction.py
  mmf_new/core/infrastructure/utilities.py
Due: code-quality-check, docs-consistency

refactor: Move database infrastructure to boneyard
  boneyard/database_infrastructure_migration_20241110/README.md
  boneyard/database_infrastructure_migration_20241110/database.py
  boneyard/database_infrastructure_migration_20241110/migration.py
  boneyard/database_infrastructure_migration_20241110/transaction.py
  boneyard/database_infrastructure_migration_20241110/utilities.py
Due: code-quality-check, docs-consistency

Path conditions:
  code-quality-check: any of: \.py$ and not (^(tests/|templates/|examples/|microservice_project_template/|quarantine/)) and not ((?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$
)
  dependencies-check: any of: ^requirements\.txt$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  docs-consistency: any of: ^(README\.md|.*\.md|scripts/.*\.py)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  makefile-validation: any of: ^Makefile$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  database-layer-validation: any of: ^templates/.*/database/.*\.(ts|go|java|py)$|^templates/.*/internal/database/.*\.go$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  service-isolation-validation: any of: ^templates/.*/.*\.(ts|go|java|py|yaml|json)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  template-syntax-validation: any of: ^templates/.*\.j2$|^templates/.*\.yaml$|^templates/.*\.json\.j2$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  template-consistency-validation: any of: ^templates/.*$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  cli-functionality-validation: any of: ^marty_cli/.*\.py$|^CLI_README\.md$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  dashboard-validation: any of: ^dashboard/.*$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

