Repository burdettadam/marty-microservices-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-quality-check, dependencies-check, docs-consistency, makefile-validation, database-layer-validation, service-isolation-validation, template-syntax-validation, template-consistency-validation, cli-functionality-validation, dashboard-validation

code-quality-check:
  name: Code Quality Check (Complexity & Length)
  entry: uv run python scripts/check_code_quality.py
  language: system
  require_serial: true
  pass_filenames: false

dependencies-check:
  name: Check Framework Dependencies
  entry: bash
  language: system
  args:
  - -c
  - uv run python -c "import jinja2, pathlib, ast, argparse; print(\"✅ All dependencies available\")"
  require_serial: true
  pass_filenames: false

docs-consistency:
  name: Check Documentation Consistency
  entry: bash
  language: system
  args:
  - -c
  - grep -q "Marty Microservices Framework" README.md && echo "✅ Documentation title consistent"
  require_serial: true
  pass_filenames: false

makefile-validation:
  name: Validate Makefile Targets
  entry: bash
  language: system
  args:
  - -c
  - make -n help > /dev/null && echo "✅ Makefile syntax valid"
  require_serial: true
  pass_filenames: false

database-layer-validation:
  name: Validate Database Abstraction Layer
  entry: bash
  language: system
  args:
  - -c
  ...

service-isolation-validation:
  name: Validate Service Isolation Patterns
  entry: bash
  language: system
  args:
  - -c
  ...

template-syntax-validation:
  name: Validate Template Syntax and Structure
  entry: bash
  language: system
  args:
  - -c
  ...

template-consistency-validation:
  name: Validate Multi-Language Template Consistency
  entry: bash
  language: system
  args:
  - -c
  ...

cli-functionality-validation:
  name: Validate CLI Functionality
  entry: bash
  language: system
  args:
  - -c
  ...

dashboard-validation:
  name: Validate Dashboard Components
  entry: bash
  language: system
  args:
  - -c
  ...

chore: consolidate current dependency updates (#67)
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
  dependency-health.yml
  examples/production-payment-service/requirements.txt
  examples/video_streaming_domain/ui/package-lock.json
  examples/video_streaming_domain/ui/package.json
  mmf/examples/service_templates/fastapi_example/requirements.txt
  mmf/examples/service_templates/grpc_example/proto/order_service_pb2.py
  mmf/examples/service_templates/grpc_example/proto/order_service_pb2_grpc.py
  mmf/examples/service_templates/grpc_example/requirements.txt
  mmf/examples/service_templates/hybrid_example/proto/hybrid_order_service_pb2.py
  mmf/examples/service_templates/hybrid_example/proto/hybrid_order_service_pb2_grpc.py
  mmf/examples/service_templates/hybrid_example/requirements.txt
  mmf/services/identity/ui/package-lock.json
  mmf/services/identity/ui/package.json
  mmf/services/identity/ui/vite.config.ts
Due: code-quality-check

chore: normalize dependency health statuses
  dependency-health.yml
Due: none

chore: normalize dependency health statuses (#68)
  dependency-health.yml
Due: none

ci: stagger dependency workflow load
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/license-compliance.yml
  .github/workflows/open-source-policy.yml
  .github/workflows/organization-quality.yml
Due: none

ci: pin cached organization workflows
  .github/workflows/organization-quality.yml
Due: none

ci: pin production organization workflows
  .github/workflows/organization-quality.yml
Due: none

ci: stagger dependency workflow load (#69)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/license-compliance.yml
  .github/workflows/open-source-policy.yml
  .github/workflows/organization-quality.yml
Due: none

ci: validate merge candidates without duplicate main checks
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/license-compliance.yml
  .github/workflows/open-source-policy.yml
  .github/workflows/organization-quality.yml
Due: none

ci: make CodeQL merge-queue aware
  .github/workflows/codeql.yml
Due: none

ci: validate merge candidates without duplicate main checks (#70)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/license-compliance.yml
  .github/workflows/open-source-policy.yml
  .github/workflows/organization-quality.yml
Due: none

ci: reduce Docker context and cache exports
  .github/workflows/cleanup-ci-caches.yml
  .github/workflows/reusable-build.yml
Due: none

ci: narrow cache cleanup permission
  .github/workflows/cleanup-ci-caches.yml
Due: none

ci: reduce Docker context and cache exports (#72)
  .github/workflows/cleanup-ci-caches.yml
  .github/workflows/reusable-build.yml
Due: none

fix(ci): paginate cache cleanup defensively
  .github/workflows/cleanup-ci-caches.yml
Due: none

fix(ci): paginate cache cleanup defensively (#73)
  .github/workflows/cleanup-ci-caches.yml
Due: none

fix(ci): make cache cleanup idempotent
  .github/workflows/cleanup-ci-caches.yml
Due: none

fix(ci): make cache cleanup idempotent (#74)
  .github/workflows/cleanup-ci-caches.yml
Due: none

perf(ci): reduce startup and clone payload (#75)
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-caches.yml
  .github/workflows/reusable-build.yml
  .gitignore
  examples/demos/README.md
  examples/demos/fetch-istioctl.sh
Due: docs-consistency

fix(release): make stable releases immutable
  .github/workflows/ci.yml
  .github/workflows/license-compliance.yml
  .github/workflows/open-source-policy.yml
  .github/workflows/organization-quality.yml
  .github/workflows/prepare-stable-tag.yml
  .github/workflows/release.yml
  CHANGELOG.md
  mmf/__init__.py
  mmf/tests/unit/test_release_governance.py
  pyproject.toml
Due: code-quality-check, docs-consistency

fix(release): await stable tag evidence
  .github/workflows/release.yml
  mmf/tests/unit/test_release_governance.py
Due: code-quality-check

fix(ci): quote stable tag revisions
  .github/workflows/prepare-stable-tag.yml
Due: none

fix(release): make stable releases immutable (#78)
  .github/workflows/ci.yml
  .github/workflows/license-compliance.yml
  .github/workflows/open-source-policy.yml
  .github/workflows/organization-quality.yml
  .github/workflows/prepare-stable-tag.yml
  .github/workflows/release.yml
  CHANGELOG.md
  mmf/__init__.py
  mmf/tests/unit/test_release_governance.py
  pyproject.toml
Due: code-quality-check, docs-consistency

fix(release): dispatch prepared tags explicitly
  .github/workflows/prepare-stable-tag.yml
  .github/workflows/release.yml
  CHANGELOG.md
  mmf/__init__.py
  mmf/tests/unit/test_release_governance.py
  pyproject.toml
Due: code-quality-check, docs-consistency

fix(release): dispatch prepared tags explicitly (#80)
  .github/workflows/prepare-stable-tag.yml
  .github/workflows/release.yml
  CHANGELOG.md
  mmf/__init__.py
  mmf/tests/unit/test_release_governance.py
  pyproject.toml
Due: code-quality-check, docs-consistency

Cache uv dependencies in CI
  .github/workflows/ci.yml
Due: none

Cache uv dependencies in CI (#81)
  .github/workflows/ci.yml
Due: none

add MMF Rust platform foundation
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  contracts/core-lifecycle.json
  contracts/mmf-capabilities.json
  crates/mmf-config/Cargo.toml
  crates/mmf-config/src/lib.rs
  crates/mmf-core/Cargo.toml
  crates/mmf-core/src/lib.rs
  crates/mmf-core/tests/capability_inventory.rs
  crates/mmf-runtime/Cargo.toml
  crates/mmf-runtime/src/lib.rs
  crates/mmf/Cargo.toml
  crates/mmf/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
Due: docs-consistency

add MMF Rust platform foundation (#88)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  contracts/core-lifecycle.json
  contracts/mmf-capabilities.json
  crates/mmf-config/Cargo.toml
  crates/mmf-config/src/lib.rs
  crates/mmf-core/Cargo.toml
  crates/mmf-core/src/lib.rs
  crates/mmf-core/tests/capability_inventory.rs
  crates/mmf-runtime/Cargo.toml
  crates/mmf-runtime/src/lib.rs
  crates/mmf/Cargo.toml
  crates/mmf/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
Due: docs-consistency

add canonical MMF testkit
  Cargo.lock
  Cargo.toml
  contracts/mmf-capabilities.json
  contracts/testkit-behavior.json
  crates/mmf-testkit/Cargo.toml
  crates/mmf-testkit/src/lib.rs
  crates/mmf-testkit/tests/testkit_behavior.rs
  crates/mmf/Cargo.toml
  crates/mmf/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/tests/contract/test_testkit_behavior_contract.py
Due: code-quality-check, docs-consistency

add canonical MMF audit compliance core
  contracts/audit-compliance-behavior.json
  crates/mmf-services/src/audit.rs
  crates/mmf-services/src/lib.rs
  crates/mmf-services/tests/audit_behavior.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/tests/contract/test_audit_compliance_behavior_contract.py
Due: code-quality-check, docs-consistency

add canonical MMF platform core
  Cargo.lock
  Cargo.toml
  contracts/mmf-capabilities.json
  contracts/platform-behavior.json
  crates/mmf-platform/Cargo.toml
  crates/mmf-platform/src/deployment.rs
  crates/mmf-platform/src/discovery.rs
  crates/mmf-platform/src/gateway.rs
  crates/mmf-platform/src/lib.rs
  crates/mmf-platform/src/ports.rs
  crates/mmf/Cargo.toml
  crates/mmf/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/tests/contract/test_platform_behavior_contract.py
Due: code-quality-check, docs-consistency

add canonical MMF messaging core
  Cargo.lock
  Cargo.toml
  contracts/messaging-behavior.json
  contracts/mmf-capabilities.json
  crates/mmf-messaging/Cargo.toml
  crates/mmf-messaging/src/event.rs
  crates/mmf-messaging/src/lib.rs
  crates/mmf-messaging/src/memory.rs
  crates/mmf-messaging/src/model.rs
  crates/mmf-messaging/src/ports.rs
  crates/mmf-messaging/src/routing.rs
  crates/mmf-messaging/src/store.rs
  crates/mmf/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/tests/contract/test_messaging_behavior_contract.py
Due: code-quality-check, docs-consistency

Path conditions:
  code-quality-check: any of: \.py$ and not (^(tests/|templates/|examples/|microservice_project_template/|quarantine/)) and not ((?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$
)
  dependencies-check: any of: ^requirements\.txt$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  docs-consistency: any of: ^(README\.md|.*\.md|scripts/.*\.py)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  makefile-validation: any of: ^Makefile$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  database-layer-validation: any of: ^templates/.*/database/.*\.(ts|go|java|py)$|^templates/.*/internal/database/.*\.go$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  service-isolation-validation: any of: ^templates/.*/.*\.(ts|go|java|py|yaml|json)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  template-syntax-validation: any of: ^templates/.*\.j2$|^templates/.*\.yaml$|^templates/.*\.json\.j2$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  template-consistency-validation: any of: ^templates/.*$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  cli-functionality-validation: any of: ^marty_cli/.*\.py$|^CLI_README\.md$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  dashboard-validation: any of: ^dashboard/.*$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

