Repository burdettadam/marty-microservices-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-quality-check, dependencies-check, docs-consistency, makefile-validation, database-layer-validation, service-isolation-validation, template-syntax-validation, template-consistency-validation, cli-functionality-validation, dashboard-validation

code-quality-check:
  name: Code Quality Check (Complexity & Length)
  entry: uv run python scripts/check_code_quality.py
  language: system
  require_serial: true
  pass_filenames: false

dependencies-check:
  name: Check Framework Dependencies
  entry: bash
  language: system
  args:
  - -c
  - uv run python -c "import jinja2, pathlib, ast, argparse; print(\"✅ All dependencies available\")"
  require_serial: true
  pass_filenames: false

docs-consistency:
  name: Check Documentation Consistency
  entry: bash
  language: system
  args:
  - -c
  - grep -q "Marty Microservices Framework" README.md && echo "✅ Documentation title consistent"
  require_serial: true
  pass_filenames: false

makefile-validation:
  name: Validate Makefile Targets
  entry: bash
  language: system
  args:
  - -c
  - make -n help > /dev/null && echo "✅ Makefile syntax valid"
  require_serial: true
  pass_filenames: false

database-layer-validation:
  name: Validate Database Abstraction Layer
  entry: bash
  language: system
  args:
  - -c
  ...

service-isolation-validation:
  name: Validate Service Isolation Patterns
  entry: bash
  language: system
  args:
  - -c
  ...

template-syntax-validation:
  name: Validate Template Syntax and Structure
  entry: bash
  language: system
  args:
  - -c
  ...

template-consistency-validation:
  name: Validate Multi-Language Template Consistency
  entry: bash
  language: system
  args:
  - -c
  ...

cli-functionality-validation:
  name: Validate CLI Functionality
  entry: bash
  language: system
  args:
  - -c
  ...

dashboard-validation:
  name: Validate Dashboard Components
  entry: bash
  language: system
  args:
  - -c
  ...

feat: centralize tenant membership authentication
  contracts/tenant-authorization-behavior.json
  crates/mmf-security/src/authorization.rs
  crates/mmf-security/tests/tenant_authorization_behavior.rs
Due: none

feat(security): centralize applicant approval
  contracts/applicant-approval-authorization-behavior.json
  crates/mmf-security/src/applicant_approval.rs
  crates/mmf-security/src/lib.rs
Due: none

feat: centralize service token authentication
  crates/mmf-security/src/workload_identity.rs
Due: none

test(integration): stabilize container connections
  mmf/tests/integration/conftest.py
  mmf/tests/integration/test_containers_check.py
Due: code-quality-check

feat: authenticate purpose-bound application events
  Cargo.lock
  Cargo.toml
  contracts/application-event-auth-behavior.json
  crates/mmf-security/Cargo.toml
  crates/mmf-security/src/application_event.rs
  crates/mmf-security/src/lib.rs
Due: none

feat: add atomic cache and set primitives
  crates/mmf-data/src/cache.rs
  crates/mmf-data/tests/data_behavior.rs
  crates/mmf-data/tests/redis_cache_behavior.rs
Due: none

feat: add bounded outbound http platform
  Cargo.lock
  Cargo.toml
  crates/mmf-platform/Cargo.toml
  crates/mmf-platform/src/client.rs
  crates/mmf-platform/src/lib.rs
  crates/mmf-platform/tests/outbound_http_behavior.rs
Due: none

fix(security): stabilize credential policy reasons
  contracts/credential-verification-authorization-behavior.json
  crates/mmf-security/src/credential_verification.rs
Due: none

feat: centralize tenant api key authorization
  contracts/tenant-authorization-behavior.json
  crates/mmf-security/src/authorization.rs
  crates/mmf-security/tests/tenant_authorization_behavior.rs
Due: none

feat: support guarded registry tls roots
  crates/mmf-platform/src/client.rs
  crates/mmf-platform/tests/outbound_http_behavior.rs
Due: none

feat: add reusable transactional outbox dispatcher
  crates/mmf-messaging/src/lib.rs
  crates/mmf-messaging/src/outbox_dispatcher.rs
Due: none

feat: add atomic expiring cache leases
  crates/mmf-data/src/cache.rs
  crates/mmf-data/tests/data_behavior.rs
  crates/mmf-data/tests/redis_cache_behavior.rs
Due: none

feat: expose MMF webhook registry state
  crates/mmf-push/src/tests.rs
  crates/mmf-push/src/webhook.rs
Due: none

fix(gateway): preserve typed path template matching
  mmf/framework/gateway/domain/services.py
  mmf/tests/unit/framework/gateway/test_domain_services.py
Due: code-quality-check

feat: centralize workload gRPC security
  contracts/workload-grpc-security.json
  crates/mmf-platform/src/grpc.rs
  crates/mmf-security/src/lib.rs
  crates/mmf-security/src/workload_identity.rs
  crates/mmf-security/tests/workload_identity_behavior.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
Due: docs-consistency

fix(platform): select Rustls provider for gRPC TLS
  Cargo.lock
  Cargo.toml
  crates/mmf-platform/Cargo.toml
  crates/mmf-platform/src/grpc.rs
  crates/mmf-platform/tests/grpc_server_behavior.rs
Due: none

fix(platform): select Rustls provider for gRPC TLS (#91)
  Cargo.lock
  Cargo.toml
  crates/mmf-platform/Cargo.toml
  crates/mmf-platform/src/grpc.rs
  crates/mmf-platform/tests/grpc_server_behavior.rs
Due: none

chore: freeze legacy Python distribution
  .github/workflows/prepare-stable-tag.yml
  .github/workflows/release.yml
  README.md
  mmf/tests/unit/test_python_distribution_retirement.py
  mmf/tests/unit/test_release_governance.py
  pyproject.toml
Due: code-quality-check, docs-consistency

fix: preserve retirement license metadata
  README.md
  scripts/check_license_metadata.py
Due: code-quality-check, docs-consistency

chore: freeze legacy Python distribution (#94)
  .github/workflows/prepare-stable-tag.yml
  .github/workflows/release.yml
  README.md
  mmf/tests/unit/test_python_distribution_retirement.py
  mmf/tests/unit/test_release_governance.py
  pyproject.toml
  scripts/check_license_metadata.py
Due: code-quality-check, docs-consistency

fix: keep release manifest redirection parseable
  .github/workflows/release.yml
Due: none

fix: retain Rust dependency health policy
  crates/mmf-core/tests/capability_inventory.rs
  dependency-health.yml
Due: none

fix: run license gate in merge queue
  .github/workflows/license-compliance.yml
Due: none

Fix release checksum asset paths
  .github/workflows/release.yml
  crates/mmf-core/tests/capability_inventory.rs
Due: none

Run required license gate for every change
  .github/workflows/license-compliance.yml
  crates/mmf-core/tests/capability_inventory.rs
Due: none

Format license gate regression test
  crates/mmf-core/tests/capability_inventory.rs
Due: none

Fix release checksum asset paths (#97)
  .github/workflows/license-compliance.yml
  .github/workflows/release.yml
  crates/mmf-core/tests/capability_inventory.rs
Due: none

Migrate Rust APIs for dependency updates
  crates/mmf-core/tests/capability_inventory.rs
  crates/mmf-push/src/mock.rs
  crates/mmf-push/src/webhook.rs
  crates/mmf-resilience/src/lib.rs
  crates/mmf-security/src/application_event.rs
  crates/mmf-security/src/jwt_hmac.rs
  crates/mmf-security/src/mfa.rs
  crates/mmf-security/src/oauth.rs
  crates/mmf-security/src/oidc.rs
  crates/mmf-security/src/session_keys.rs
  crates/mmf-services/src/native_identity.rs
Due: none

Prepare corrected Rust v0.1.1 release
  Cargo.lock
  Cargo.toml
  contracts/identity-service-http-behavior.json
  crates/mmf-cli/src/scaffold.rs
  crates/mmf-cli/src/tests.rs
Due: none

Prepare corrected Rust v0.1.1 release (#98)
  Cargo.lock
  Cargo.toml
  contracts/identity-service-http-behavior.json
  crates/mmf-cli/src/scaffold.rs
  crates/mmf-cli/src/tests.rs
Due: none

Add safe system health response projections
  contracts/python-retirement-evidence.json
  contracts/system-route-projection.json
  crates/mmf-core/tests/capability_inventory.rs
  crates/mmf-runtime/src/lib.rs
Due: none

Add safe system health response projections (#99)
  contracts/python-retirement-evidence.json
  contracts/system-route-projection.json
  crates/mmf-core/tests/capability_inventory.rs
  crates/mmf-runtime/src/lib.rs
Due: none

feat(config): preserve frozen numeric grammar without integer narrowing
  contracts/canvas-worker-numeric-lexical-oracle.json
  contracts/python-numeric-unicode-oracle.json
  crates/mmf-config/src/lib.rs
  crates/mmf-config/src/numeric_config.rs
  crates/mmf-config/tests/numeric_config.rs
  docs/lossless-numeric-configuration.md
Due: docs-consistency

test: preserve named retirement contracts while allowing platform growth
  contracts/python-retirement-contract-inventory.json
  crates/mmf-core/tests/capability_inventory.rs
  docs/lossless-numeric-configuration.md
Due: docs-consistency

feat(config): preserve frozen numeric grammar without integer narrowing (#101)
  contracts/canvas-worker-numeric-lexical-oracle.json
  contracts/python-numeric-unicode-oracle.json
  contracts/python-retirement-contract-inventory.json
  crates/mmf-config/src/lib.rs
  crates/mmf-config/src/numeric_config.rs
  crates/mmf-config/tests/numeric_config.rs
  crates/mmf-core/tests/capability_inventory.rs
  docs/lossless-numeric-configuration.md
Due: docs-consistency

feat(runtime): own async cancellation through awaited resource cleanup
  contracts/async-task-lifecycle.json
  crates/mmf-runtime/Cargo.toml
  crates/mmf-runtime/src/lib.rs
  crates/mmf-runtime/src/managed_task.rs
  crates/mmf-runtime/tests/managed_task_behavior.rs
  docs/owned-async-lifecycle.md
Due: docs-consistency

feat(runtime): own async cancellation through awaited resource cleanup (#102)
  contracts/async-task-lifecycle.json
  crates/mmf-runtime/Cargo.toml
  crates/mmf-runtime/src/lib.rs
  crates/mmf-runtime/src/managed_task.rs
  crates/mmf-runtime/tests/managed_task_behavior.rs
  docs/owned-async-lifecycle.md
Due: docs-consistency

Path conditions:
  code-quality-check: any of: \.py$ and not (^(tests/|templates/|examples/|microservice_project_template/|quarantine/)) and not ((?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$
)
  dependencies-check: any of: ^requirements\.txt$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  docs-consistency: any of: ^(README\.md|.*\.md|scripts/.*\.py)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  makefile-validation: any of: ^Makefile$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  database-layer-validation: any of: ^templates/.*/database/.*\.(ts|go|java|py)$|^templates/.*/internal/database/.*\.go$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  service-isolation-validation: any of: ^templates/.*/.*\.(ts|go|java|py|yaml|json)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  template-syntax-validation: any of: ^templates/.*\.j2$|^templates/.*\.yaml$|^templates/.*\.json\.j2$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  template-consistency-validation: any of: ^templates/.*$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  cli-functionality-validation: any of: ^marty_cli/.*\.py$|^CLI_README\.md$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  dashboard-validation: any of: ^dashboard/.*$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

