Repository burdettadam/marty-microservices-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, template-validation, framework-tests, dependencies-check, docs-consistency, makefile-validation

Path conditions:
  mypy-type-check: any of: ^scripts/.*\.py$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  template-validation: any of: ^(scripts/.*\.py|service/.*\.j2|mypy\.ini|requirements\.txt)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  framework-tests: any of: ^(scripts/.*\.py|service/.*\.j2|mypy\.ini|requirements\.txt|Makefile)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  dependencies-check: any of: ^requirements\.txt$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  docs-consistency: any of: ^(README\.md|.*\.md|scripts/.*\.py)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  makefile-validation: any of: ^Makefile$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$


docs: reorganize documentation and fix import statements
  CERTIFICATE_MANAGEMENT_IMPLEMENTATION_STATUS.md
  CLI_README.md
  CODE_QUALITY_TODO.md
  COMPLETION_STATUS.md
  DISTRIBUTION_PLAN.md
  E2E_DEPENDENCIES_FIXED_SUMMARY.md
  ENHANCED_FRAMEWORK_README.md
  EVENT_BUS_UTILITIES_SUMMARY.md
  IMPLEMENTATION_STRATEGY.md
  IMPLEMENTATION_SUMMARY.md
  KIND_PLAYWRIGHT_UV_SCRIPTS_SUMMARY.md
  MARTY_MMF_PLUGIN_IMPLEMENTATION_SUMMARY.md
  MYPY_INTEGRATION_SUMMARY.md
  Makefile
  OBSERVABILITY_IMPLEMENTATION_SUMMARY.md
  PHASE1_IMPLEMENTATION_SUMMARY.md
  PHASE_1_SECURITY_SUMMARY.md
  PRIORITY_1_IMPLEMENTATION_SUMMARY.md
  README.md
  STANDALONE_PROJECT_SUMMARY.md
  TESTING_IMPLEMENTATION_SUMMARY.md
  UV_ADOPTION_SUMMARY.md
  docs/PHASE_3_SECURITY_IMPLEMENTATION.md
  docs/README.md
  docs/architecture.md
  docs/development/TESTING_STRATEGY.md
  docs/guides/CLI_README.md
  docs/guides/MIGRATION_EXAMPLE.md
  docs/guides/MIGRATION_GUIDE.md
  docs/guides/event-publishing-guide.md
  docs/guides/modern_service_guide.md
  docs/guides/observability.md
  docs/guides/plugin-system.md
Due: framework-tests, docs-consistency, makefile-validation

Simplify packaging: consolidate dependencies and remove conflicts
  .github/workflows/reusable-ci.yml
  Makefile
  pyproject.toml
  pyproject_backup.toml
  scripts/run_kind_playwright_e2e.sh
  scripts/setup_dev.py
  scripts/setup_framework.sh
  tests/e2e/simple_kind_playwright_test.py
Due: mypy-type-check, template-validation, framework-tests, docs-consistency, makefile-validation

feat: implement automated code quality checks and security module decomposition
  .pre-commit-config.yaml
  CODE_QUALITY_ENHANCEMENT.md
  DECOMPOSITION_SUMMARY.md
  pyproject.toml
  scripts/check_code_quality.py
  src/framework/data/data_models.py
  src/framework/data/event_sourcing/__init__.py
  src/framework/data/event_sourcing/core.py
  src/framework/security/__init__.py
  src/framework/security/authentication/__init__.py
  src/framework/security/authentication/manager.py
  src/framework/security/authorization/__init__.py
  src/framework/security/authorization/manager.py
  src/framework/security/cryptography/__init__.py
  src/framework/security/cryptography/manager.py
  src/framework/security/framework.py
  src/framework/security/models.py
  src/framework/security/scanning/__init__.py
  src/framework/security/scanning/scanner.py
Due: mypy-type-check, template-validation, framework-tests, docs-consistency

feat removed all legacy files and shims
  .pre-commit-config.yaml
  CODE_QUALITY_ENHANCEMENT.md
  docs/guides/MIGRATION_GUIDE.md
  quarantine/README-legacy-discovery-shim.md
  quarantine/legacy-connectors/README.md
  quarantine/legacy-connectors/external_connectors_original.py
  quarantine/legacy-discovery-shim.py
  quarantine/legacy-strategies-monolith.py
Due: docs-consistency

Fix ruff linting issues in migrate_shim_imports.py
  .github/workflows/infrastructure-testing.yml
  .github/workflows/phase2-ci-cd.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-security.yml
  .github/workflows/security-compliance.yml
  BACK_COMPAT_SHIMS_TRACKING.md
  dashboard/backend/pyproject.toml
  microservice_project_template/.github/workflows/ci.yml
  microservice_project_template/Dockerfile
  migrate_shim_imports.py
  pyproject.toml
  src/framework/deployment/strategies.py
  templates/api-gateway-service/Dockerfile
  templates/api-versioning/Dockerfile
  templates/fastapi-service/Dockerfile
  templates/service-discovery/Dockerfile
  templates/service-discovery/pyproject.toml
Due: docs-consistency

feat: enhance framework code quality and testing approach
  CODE_QUALITY_ENHANCEMENT.md
  pyproject.toml
  src/framework/mesh/discovery/health_checker.py
  src/framework/messaging/__init__.py
  tests/unit/framework/test_deployment_strategies.py
Due: docs-consistency

refactor: modernize framework by removing legacy code and enhancing packaging
  CODE_QUALITY_ENHANCEMENT.md
  DECOMPOSITION_SUMMARY.md
  RELEASE_PLAN_COMPATIBILITY_CLEANUP.md
  pyproject.toml
  src/framework/resilience/bulkheads.py
  src/framework/resilience/circuit_breakers.py
  src/framework/resilience/retry_logic.py
  src/framework/resilience/timeouts.py
  src/framework/security/hardening.py
  tests/unit/framework/test_resilience_behavior.py
Due: docs-consistency

Remove deprecated plugin config methods and legacy artifacts
  BACK_COMPAT_SHIMS_TRACKING.md
  LEGACY_REMOVAL_SUMMARY.md
  MIGRATION_CHANGELOG.md
  fix_unused_imports.py
  migrate_shim_imports.py
  pyproject.toml
  src/framework/gateway/__init__.py
  src/framework/plugins/core.py
  tests/plugins/__init__.py
  tests/plugins/conftest.py
  tests/plugins/test_config.py
  tests/plugins/test_core.py
  tests/plugins/test_discovery.py
  tests/plugins/test_services.py
  tests/unit/framework/test_bypass_load_balancing.py
  validate_decomposition.py
Due: docs-consistency

refactor: Begin monolithic module decomposition with ML components
  MONOLITHIC_DECOMPOSITION_SUMMARY.md
  src/framework/deployment/infrastructure/models/core.py
  src/framework/deployment/infrastructure/models/enums.py
  src/framework/ml/feature_store/__init__.py
  src/framework/ml/feature_store/feature_store.py
  src/framework/ml/intelligent_services_original.py
  src/framework/ml/intelligent_services_shim.py
  src/framework/ml/models/__init__.py
  src/framework/ml/models/core.py
  src/framework/ml/models/enums.py
  src/framework/ml/registry/__init__.py
  src/framework/ml/registry/model_registry.py
  src/framework/ml/serving/__init__.py
  src/framework/ml/serving/model_server.py
Due: docs-consistency

feat: convert legacy helper scripts to automated tests with CI/CD integration
  Makefile
  docs/AUTOMATED_TEST_CONVERSION.md
  tests/unit/test_code_quality.py
  tests/unit/test_dependency_checks.py
  tests/unit/test_framework_functionality.py
  tests/unit/test_observability_validation.py
  tests/unit/test_security_validation.py
Due: framework-tests, docs-consistency, makefile-validation

refactor: consolidate plugin strategy and remove stale references
  PLUGIN_STRATEGY.md
  docs/guides/plugin-system.md
  examples/example-service/README.md
  pyproject.toml
  scripts/verify_plugin_integration.py
Due: mypy-type-check, template-validation, framework-tests, docs-consistency

feat: cqrs notes
  docs/architecture/architecture.md
  docs/data-consistency-patterns.md
  src/marty_msf/patterns/config.py
  src/marty_msf/patterns/cqrs/enhanced_cqrs.py
  src/marty_msf/patterns/examples/comprehensive_example.py
  src/marty_msf/patterns/outbox/enhanced_outbox.py
  tests/examples/test_data_consistency_examples.py
Due: docs-consistency

feat: bulkhead stuff
  config/base.yaml
  docs/architecture/architecture.md
  docs/architecture/resilience-implementation-notes.md
  examples/resilience_test.py
  src/marty_msf/framework/resilience/__init__.py
  src/marty_msf/framework/resilience/bulkhead.py
  src/marty_msf/framework/resilience/external_dependencies.py
  src/marty_msf/framework/resilience/timeout.py
  tools/scaffolding/microservice_project_template/config/resilience.yaml
  tools/scaffolding/microservice_project_template/src/microservice_template/service/greeter.py
  tools/scaffolding/microservice_project_template/src/microservice_template/service/resilient_example.py
Due: docs-consistency
