Repository burdettadam/marty-microservices-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-quality-check, dependencies-check, docs-consistency, makefile-validation, database-layer-validation, service-isolation-validation, template-syntax-validation, template-consistency-validation, cli-functionality-validation, dashboard-validation

code-quality-check:
  name: Code Quality Check (Complexity & Length)
  entry: uv run python scripts/check_code_quality.py
  language: system
  require_serial: true
  pass_filenames: false

dependencies-check:
  name: Check Framework Dependencies
  entry: bash
  language: system
  args:
  - -c
  - uv run python -c "import jinja2, pathlib, ast, argparse; print(\"✅ All dependencies available\")"
  require_serial: true
  pass_filenames: false

docs-consistency:
  name: Check Documentation Consistency
  entry: bash
  language: system
  args:
  - -c
  - grep -q "Marty Microservices Framework" README.md && echo "✅ Documentation title consistent"
  require_serial: true
  pass_filenames: false

makefile-validation:
  name: Validate Makefile Targets
  entry: bash
  language: system
  args:
  - -c
  - make -n help > /dev/null && echo "✅ Makefile syntax valid"
  require_serial: true
  pass_filenames: false

database-layer-validation:
  name: Validate Database Abstraction Layer
  entry: bash
  language: system
  args:
  - -c
  ...

service-isolation-validation:
  name: Validate Service Isolation Patterns
  entry: bash
  language: system
  args:
  - -c
  ...

template-syntax-validation:
  name: Validate Template Syntax and Structure
  entry: bash
  language: system
  args:
  - -c
  ...

template-consistency-validation:
  name: Validate Multi-Language Template Consistency
  entry: bash
  language: system
  args:
  - -c
  ...

cli-functionality-validation:
  name: Validate CLI Functionality
  entry: bash
  language: system
  args:
  - -c
  ...

dashboard-validation:
  name: Validate Dashboard Components
  entry: bash
  language: system
  args:
  - -c
  ...

fix: include security extras in dev dependencies
  pyproject.toml
Due: none

fix: add missing __init__.py files for identity adapters
  mmf/services/identity/infrastructure/adapters/out/__init__.py
  mmf/services/identity/infrastructure/adapters/out/auth/__init__.py
Due: code-quality-check

fix: add critical missing mmf/framework/__init__.py
  mmf/framework/__init__.py
Due: code-quality-check

fix: disable coverage for architecture and E2E tests, fix test paths
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pr-validation.yml
Due: none

fix: update CI workflows - remove old test paths and fix Dockerfile
  .github/workflows/comprehensive-e2e.yml
  .github/workflows/pr-validation.yml
  Dockerfile
Due: none

fix(ci): remove conflicting working-directory from comprehensive-e2e workflow
  .github/workflows/comprehensive-e2e.yml
Due: none

fix(ci): add continue-on-error to flaky test steps
  .github/workflows/comprehensive-e2e.yml
  .github/workflows/pr-validation.yml
Due: none

fix: resolve PR validation failures - linting, formatting, and pytest config
  mmf/adapters/auth/__init__.py
  mmf/tests/unit/framework/infrastructure/test_dependency_injection.py
  pyproject.toml
Due: code-quality-check

Update Redis cache adapter implementation
  mmf/adapters/cache/redis_cache.py
Due: code-quality-check

feat: add beta release workflow
  .github/workflows/release-beta.yml
Due: none

fix: correct beta workflow - add __version__ and fix GitHub Packages URL
  .github/workflows/release-beta.yml
  mmf/__init__.py
Due: code-quality-check

fix: use venv instead of --system for uv pip install
  .github/workflows/release-beta.yml
Due: none

fix: use 'uv pip install' and 'uv run' for build steps
  .github/workflows/release-beta.yml
Due: none

feat: Add Consul service discovery adapter and gateway infrastructure
  mmf/discovery/adapters/__init__.py
  mmf/discovery/adapters/consul_adapter.py
  mmf/examples/consul_discovery.py
  mmf/examples/kong_gateway.py
  mmf/framework/infrastructure/migration/__init__.py
  mmf/framework/infrastructure/migration/adapters.py
  mmf/framework/infrastructure/migration/ports.py
  mmf/gateway/__init__.py
  mmf/gateway/kong_sync.py
Due: code-quality-check

Update migration adapter and documentation
  docs/architecture/plugin-system.md
  docs/guides/MIGRATION_GUIDE.md
  mmf/framework/infrastructure/migration/adapters.py
Due: code-quality-check, docs-consistency

feat: gRPC migration, Cedar authorization, BBS crypto, OID4VC conformance, and service layer enhancements
  mmf/examples/service_templates/grpc_example/proto/__init__.py
  mmf/examples/service_templates/grpc_example/proto/order_service_pb2.py
  mmf/examples/service_templates/grpc_example/proto/order_service_pb2_grpc.py
  mmf/examples/service_templates/grpc_example/server.py
  mmf/examples/service_templates/hybrid_example/main.py
  mmf/examples/service_templates/hybrid_example/proto/__init__.py
  mmf/examples/service_templates/hybrid_example/proto/hybrid_order_service_pb2.py
  mmf/examples/service_templates/hybrid_example/proto/hybrid_order_service_pb2_grpc.py
  mmf/framework/grpc/__init__.py
  mmf/framework/grpc/client.py
  mmf/framework/grpc/unified_grpc_server.py
  mmf/framework/integration/adapters/__init__.py
  mmf/framework/integration/adapters/grpc_adapter.py
Due: code-quality-check

chore: prepare for automated improvements
  .github/workflows/license-compliance.yml
  .github/workflows/security-compliance.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  NOTICE
  README.md
  SECURITY.md
  pyproject.toml
  scripts/README.md
  scripts/check_license_metadata.py
Due: code-quality-check, docs-consistency

fix security compliance findings
  .github/workflows/license-compliance.yml
  .github/workflows/security-compliance.yml
  examples/production-payment-service/requirements.txt
  mmf/adapters/session/redis_adapter.py
  mmf/core/application/utilities.py
  mmf/examples/service_templates/fastapi_example/requirements.txt
  mmf/examples/service_templates/grpc_example/requirements.txt
  mmf/examples/service_templates/hybrid_example/requirements.txt
  mmf/framework/infrastructure/config_manager.py
  mmf/framework/infrastructure/sql_utils.py
  mmf/framework/integration/adapters/filesystem_adapter.py
  mmf/framework/integration/application/services/transformation_service.py
  mmf/services/audit_compliance/tests/conftest.py
  mmf/services/identity/domain/models/mtls/models.py
  mmf/services/identity/infrastructure/adapters/http_adapter.py
  ops/k8s/templates/_helpers.tpl
  pyproject.toml
Due: code-quality-check

fix security workflow tooling
  .github/workflows/security-compliance.yml
  .gitleaks.toml
Due: none

scope gitleaks scan to changed commits
  .github/workflows/security-compliance.yml
Due: none

limit PR gitleaks scan to head commit
  .github/workflows/security-compliance.yml
Due: none

Prepare open-source release automation (#8)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/comprehensive-e2e.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/infrastructure-testing.yml
  .github/workflows/license-compliance.yml
  .github/workflows/open-source-policy.yml
  .github/workflows/phase2-ci-cd.yml
  .github/workflows/pr-validation.yml
  .github/workflows/publication-audit.yml
  .github/workflows/quick-e2e-kind.yml
  .github/workflows/release-beta.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-deploy.yml
  .github/workflows/reusable-security.yml
  .github/workflows/security-compliance.yml
  .gitleaksignore
  docs/demos/experience-polish-analytics.ipynb
  docs/guides/CLI_README.md
  docs/guides/TROUBLESHOOTING.md
  examples/demos/README.md
  ops/k8s/Chart.yaml
  tools/scaffolding/microservice_project_template/k8s/overlays/prod/patch-deployment.yaml
Due: docs-consistency

ci: use license-free publication secret scan (#10)
  .github/workflows/publication-audit.yml
Due: none

fix(deps): resolve Dependabot advisories (#11)
  examples/demos/istio-1.27.2/samples/bookinfo/src/productpage/requirements.txt
  examples/demos/istio-1.27.2/samples/bookinfo/src/productpage/test-requirements.txt
  examples/demos/istio-1.27.2/samples/helloworld/src/requirements.txt
  examples/video_streaming_domain/ui/package-lock.json
  examples/video_streaming_domain/ui/package.json
  examples/video_streaming_domain/ui/postcss.config.js
  mmf/services/identity/ui/package-lock.json
  mmf/services/identity/ui/package.json
  mmf/services/identity/ui/postcss.config.js
  mmf/services/identity/ui/tsconfig.json
  ops/dashboards/frontend/package-lock.json
  ops/dashboards/frontend/package.json
Due: none

ci: eliminate workflow injection paths (#12)
  .github/workflows/ci.yml
  .github/workflows/comprehensive-e2e.yml
  .github/workflows/infrastructure-testing.yml
  .github/workflows/organization-quality.yml
  .github/workflows/phase2-ci-cd.yml
  .github/workflows/pr-validation.yml
  .github/workflows/quick-e2e-kind.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-deploy.yml
  .github/workflows/reusable-security.yml
Due: none

chore(deps): update pinned GitHub Actions (#14)
  .github/workflows/ci.yml
  .github/workflows/comprehensive-e2e.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/infrastructure-testing.yml
  .github/workflows/license-compliance.yml
  .github/workflows/open-source-policy.yml
  .github/workflows/organization-quality.yml
  .github/workflows/phase2-ci-cd.yml
  .github/workflows/pr-validation.yml
  .github/workflows/quick-e2e-kind.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-deploy.yml
  .github/workflows/reusable-security.yml
  .github/workflows/security-compliance.yml
Due: none

ci: consolidate secret scanning on Gitleaks (#15)
  .github/workflows/security-compliance.yml
  .pre-commit-config.yaml
Due: none

ci: remove deprecated phase two workflows (#16)
  .github/workflows/infrastructure-testing.yml
  .github/workflows/phase2-ci-cd.yml
Due: none

ci: remove stale dashboard update entry (#21)
  .github/dependabot.yml
Due: none

add monthly Node maintenance (#22)
  .github/workflows/monthly-node-maintenance.yml
Due: none

fix: require patched aiohttp release
  examples/petstore_domain/services/delivery_board_service/Dockerfile
  examples/petstore_domain/services/pet_service/Dockerfile
  examples/petstore_domain/services/store_service/Dockerfile
  mmf/examples/service_templates/hybrid_example/requirements.txt
  pyproject.toml
Due: none

fix: require patched aiohttp release (#41)
  examples/petstore_domain/services/delivery_board_service/Dockerfile
  examples/petstore_domain/services/pet_service/Dockerfile
  examples/petstore_domain/services/store_service/Dockerfile
  mmf/examples/service_templates/hybrid_example/requirements.txt
  pyproject.toml
Due: none

chore: monitor every Python example manifest
  .github/dependabot.yml
  dependency-health.yml
Due: none

chore: monitor every Python example manifest (#42)
  .github/dependabot.yml
  dependency-health.yml
Due: none

chore: consolidate current dependency updates
  dependency-health.yml
  examples/production-payment-service/requirements.txt
  examples/video_streaming_domain/ui/package-lock.json
  examples/video_streaming_domain/ui/package.json
  mmf/examples/service_templates/fastapi_example/requirements.txt
  mmf/examples/service_templates/grpc_example/proto/order_service_pb2.py
  mmf/examples/service_templates/grpc_example/proto/order_service_pb2_grpc.py
  mmf/examples/service_templates/grpc_example/requirements.txt
  mmf/examples/service_templates/hybrid_example/proto/hybrid_order_service_pb2.py
  mmf/examples/service_templates/hybrid_example/proto/hybrid_order_service_pb2_grpc.py
  mmf/examples/service_templates/hybrid_example/requirements.txt
  mmf/services/identity/ui/package-lock.json
  mmf/services/identity/ui/package.json
  mmf/services/identity/ui/vite.config.ts
Due: code-quality-check

chore: update pinned release actions
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
Due: none

Path conditions:
  code-quality-check: any of: \.py$ and not (^(tests/|templates/|examples/|microservice_project_template/|quarantine/)) and not ((?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$
)
  dependencies-check: any of: ^requirements\.txt$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  docs-consistency: any of: ^(README\.md|.*\.md|scripts/.*\.py)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  makefile-validation: any of: ^Makefile$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  database-layer-validation: any of: ^templates/.*/database/.*\.(ts|go|java|py)$|^templates/.*/internal/database/.*\.go$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  service-isolation-validation: any of: ^templates/.*/.*\.(ts|go|java|py|yaml|json)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  template-syntax-validation: any of: ^templates/.*\.j2$|^templates/.*\.yaml$|^templates/.*\.json\.j2$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  template-consistency-validation: any of: ^templates/.*$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  cli-functionality-validation: any of: ^marty_cli/.*\.py$|^CLI_README\.md$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  dashboard-validation: any of: ^dashboard/.*$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

