Repository burdettadam/marty-microservices-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-quality-check, dependencies-check, docs-consistency, makefile-validation, database-layer-validation, service-isolation-validation, template-syntax-validation, template-consistency-validation, cli-functionality-validation, dashboard-validation

Path conditions:
  code-quality-check: any of: \.py$ and not (^(tests/|templates/|examples/|microservice_project_template/|quarantine/)) and not ((?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$
)
  dependencies-check: any of: ^requirements\.txt$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  docs-consistency: any of: ^(README\.md|.*\.md|scripts/.*\.py)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  makefile-validation: any of: ^Makefile$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  database-layer-validation: any of: ^templates/.*/database/.*\.(ts|go|java|py)$|^templates/.*/internal/database/.*\.go$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  service-isolation-validation: any of: ^templates/.*/.*\.(ts|go|java|py|yaml|json)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  template-syntax-validation: any of: ^templates/.*\.j2$|^templates/.*\.yaml$|^templates/.*\.json\.j2$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  template-consistency-validation: any of: ^templates/.*$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  cli-functionality-validation: any of: ^marty_cli/.*\.py$|^CLI_README\.md$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  dashboard-validation: any of: ^dashboard/.*$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$


extend canonical MMF observability core
  Cargo.lock
  contracts/observability-provider-behavior.json
  crates/mmf-observability/Cargo.toml
  crates/mmf-observability/src/alerting.rs
  crates/mmf-observability/src/analytics.rs
  crates/mmf-observability/src/health.rs
  crates/mmf-observability/src/instrumentation.rs
  crates/mmf-observability/src/lib.rs
  crates/mmf-observability/tests/provider_behavior.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/tests/contract/test_observability_provider_behavior_contract.py
Due: code-quality-check, docs-consistency

consolidate MMF config and runtime services
  Cargo.lock
  contracts/config-runtime-behavior.json
  crates/mmf-config/Cargo.toml
  crates/mmf-config/src/lib.rs
  crates/mmf-config/src/providers.rs
  crates/mmf-runtime/Cargo.toml
  crates/mmf-runtime/src/lib.rs
  crates/mmf-runtime/src/services.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/tests/contract/test_config_runtime_behavior_contract.py
Due: code-quality-check, docs-consistency

add canonical MMF data infrastructure core
  Cargo.lock
  Cargo.toml
  contracts/data-infrastructure-behavior.json
  contracts/mmf-capabilities.json
  crates/mmf-data/Cargo.toml
  crates/mmf-data/src/cache.rs
  crates/mmf-data/src/lib.rs
  crates/mmf-data/src/migration.rs
  crates/mmf-data/src/read_model.rs
  crates/mmf-data/src/sql.rs
  crates/mmf-data/tests/data_behavior.rs
  crates/mmf/Cargo.toml
  crates/mmf/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/tests/contract/test_data_infrastructure_behavior_contract.py
Due: code-quality-check, docs-consistency

feat(ml): replace Python ML framework with Rust
  Cargo.lock
  Cargo.toml
  contracts/ml-behavior.json
  contracts/mmf-capabilities.json
  crates/mmf-ml/Cargo.toml
  crates/mmf-ml/src/lib.rs
  crates/mmf-ml/src/tests.rs
  crates/mmf/Cargo.toml
  crates/mmf/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/framework/ml/__init__.py
  mmf/framework/ml/application/__init__.py
  mmf/framework/ml/application/services.py
  mmf/framework/ml/domain/__init__.py
  mmf/framework/ml/domain/entities.py
  mmf/framework/ml/domain/ports.py
  mmf/framework/ml/domain/value_objects.py
  mmf/framework/ml/infrastructure/__init__.py
  mmf/framework/ml/infrastructure/adapters/__init__.py
  mmf/framework/ml/infrastructure/adapters/feature_store.py
  mmf/framework/ml/infrastructure/adapters/registry.py
  mmf/framework/ml/infrastructure/adapters/serving.py
Due: code-quality-check, docs-consistency

feat(push): replace Python push framework with Rust
  Cargo.lock
  Cargo.toml
  contracts/mmf-capabilities.json
  contracts/push-behavior.json
  crates/mmf-push/Cargo.toml
  crates/mmf-push/src/fcm.rs
  crates/mmf-push/src/lib.rs
  crates/mmf-push/src/lifecycle.rs
  crates/mmf-push/src/manager.rs
  crates/mmf-push/src/mock.rs
  crates/mmf-push/src/model.rs
  crates/mmf-push/src/ports.rs
  crates/mmf-push/src/sse.rs
  crates/mmf-push/src/tests.rs
  crates/mmf-push/src/webhook.rs
  crates/mmf/Cargo.toml
  crates/mmf/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/core/push.py
  mmf/framework/push/__init__.py
  mmf/framework/push/fcm.py
  mmf/framework/push/lifecycle.py
  mmf/framework/push/mock.py
  mmf/framework/push/sse.py
  mmf/framework/push/webhook.py
Due: code-quality-check, docs-consistency

add canonical MMF authorization platform
  Cargo.lock
  contracts/authorization-adapter-behavior.json
  crates/mmf-security/Cargo.toml
  crates/mmf-security/src/authorization.rs
  crates/mmf-security/src/lib.rs
  crates/mmf-security/src/policy.rs
  crates/mmf-security/tests/authorization_behavior.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/tests/contract/test_authorization_adapter_behavior_contract.py
Due: code-quality-check, docs-consistency

feat(plugins): add canonical Rust plugin platform
  Cargo.lock
  Cargo.toml
  contracts/mmf-capabilities.json
  contracts/plugins-behavior.json
  crates/mmf-plugins/Cargo.toml
  crates/mmf-plugins/src/config.rs
  crates/mmf-plugins/src/lib.rs
  crates/mmf-plugins/src/manager.rs
  crates/mmf-plugins/src/model.rs
  crates/mmf-plugins/src/ports.rs
  crates/mmf-plugins/src/registry.rs
  crates/mmf-plugins/src/tests.rs
  crates/mmf/Cargo.toml
  crates/mmf/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/tests/contract/test_plugins_behavior_contract.py
Due: code-quality-check, docs-consistency

add canonical MMF identity service core
  Cargo.lock
  Cargo.toml
  contracts/identity-service-behavior.json
  contracts/mmf-capabilities.json
  crates/mmf-security/src/identity.rs
  crates/mmf-services/Cargo.toml
  crates/mmf-services/src/identity.rs
  crates/mmf-services/src/lib.rs
  crates/mmf/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/tests/contract/test_identity_service_behavior_contract.py
Due: code-quality-check, docs-consistency

add canonical MMF observability core
  Cargo.lock
  Cargo.toml
  contracts/mmf-capabilities.json
  contracts/observability-behavior.json
  crates/mmf-observability/Cargo.toml
  crates/mmf-observability/src/correlation.rs
  crates/mmf-observability/src/lib.rs
  crates/mmf-observability/src/metrics.rs
  crates/mmf-observability/src/redaction.rs
  crates/mmf-observability/src/slo.rs
  crates/mmf/Cargo.toml
  crates/mmf/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/framework/observability/correlation.py
  mmf/tests/contract/test_observability_behavior_contract.py
Due: code-quality-check, docs-consistency

add canonical MMF resilience crate
  Cargo.lock
  Cargo.toml
  contracts/mmf-capabilities.json
  contracts/resilience-behavior.json
  crates/mmf-core/tests/capability_inventory.rs
  crates/mmf-resilience/Cargo.toml
  crates/mmf-resilience/src/lib.rs
  crates/mmf/Cargo.toml
  crates/mmf/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/tests/contract/test_resilience_behavior_contract.py
Due: code-quality-check, docs-consistency

add canonical MMF security core
  Cargo.lock
  Cargo.toml
  contracts/mmf-capabilities.json
  contracts/security-behavior.json
  crates/mmf-security/Cargo.toml
  crates/mmf-security/src/identity.rs
  crates/mmf-security/src/lib.rs
  crates/mmf-security/src/policy.rs
  crates/mmf-security/src/providers.rs
  crates/mmf-security/src/rate_limit.rs
  crates/mmf-security/src/security_models.rs
  crates/mmf-security/src/session.rs
  crates/mmf/Cargo.toml
  crates/mmf/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/tests/contract/test_security_behavior_contract.py
Due: code-quality-check, docs-consistency

add canonical MMF workflow and consistency patterns
  Cargo.lock
  Cargo.toml
  contracts/mmf-capabilities.json
  contracts/workflow-patterns-behavior.json
  crates/mmf-patterns/Cargo.toml
  crates/mmf-patterns/src/cqrs.rs
  crates/mmf-patterns/src/event_sourcing.rs
  crates/mmf-patterns/src/lib.rs
  crates/mmf-patterns/src/transactions.rs
  crates/mmf-patterns/tests/patterns_behavior.rs
  crates/mmf-workflow/Cargo.toml
  crates/mmf-workflow/src/lib.rs
  crates/mmf-workflow/tests/workflow_behavior.rs
  crates/mmf/Cargo.toml
  crates/mmf/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/tests/contract/test_workflow_patterns_behavior_contract.py
Due: code-quality-check, docs-consistency

feat: centralize secure gRPC channels
  Cargo.lock
  Cargo.toml
  contracts/grpc-client-behavior.json
  crates/mmf-platform/Cargo.toml
  crates/mmf-platform/src/grpc.rs
  crates/mmf-platform/src/lib.rs
  crates/mmf-platform/tests/grpc_client_behavior.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
Due: docs-consistency

feat: add trusted proxy query overrides
  contracts/gateway-runtime-behavior.json
  crates/mmf-platform/src/proxy.rs
  crates/mmf-security/src/policy.rs
Due: none

feat: add distributed Redis gateway providers
  Cargo.lock
  contracts/redis-runtime-behavior.json
  crates/mmf-platform/Cargo.toml
  crates/mmf-platform/src/http.rs
  crates/mmf-security/src/rate_limit.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
Due: docs-consistency

feat: add tenant-bound webhook destinations
  Cargo.lock
  Cargo.toml
  contracts/push-behavior.json
  crates/mmf-push/Cargo.toml
  crates/mmf-push/src/tests.rs
  crates/mmf-push/src/webhook.rs
Due: none

feat: centralize tenant membership authorization
  contracts/tenant-authorization-behavior.json
  crates/mmf-security/src/authorization.rs
  crates/mmf-security/tests/tenant_authorization_behavior.rs
Due: none

feat: migrate identity sessions to Rust
  contracts/identity-session-behavior.json
  crates/mmf-security/src/lib.rs
  crates/mmf-security/src/managed_session.rs
  crates/mmf-security/src/session.rs
  crates/mmf-security/src/session_configuration.rs
  crates/mmf-security/src/session_events.rs
  crates/mmf-services/src/identity.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/services/identity/domain/models/session/__init__.py
  mmf/services/identity/domain/models/session/configuration.py
  mmf/services/identity/domain/models/session/events.py
  mmf/services/identity/domain/models/session/session.py
Due: code-quality-check, docs-consistency

feat: migrate MMF documentation and CLI to Rust
  .gitignore
  Cargo.lock
  Cargo.toml
  contracts/cli-documentation-behavior.json
  contracts/mmf-capabilities.json
  crates/mmf-cli/Cargo.toml
  crates/mmf-cli/src/command.rs
  crates/mmf-cli/src/contracts.rs
  crates/mmf-cli/src/documentation.rs
  crates/mmf-cli/src/host.rs
  crates/mmf-cli/src/lib.rs
  crates/mmf-cli/src/main.rs
  crates/mmf-cli/src/model.rs
  crates/mmf-cli/src/scaffold.rs
  crates/mmf-cli/src/template.rs
  crates/mmf-cli/src/tests.rs
  crates/mmf/Cargo.toml
  crates/mmf/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  docs/architecture/api-documentation-infrastructure.md
  docs/guides/CLI_README.md
  mmf/framework/documentation/__init__.py
  mmf/framework/documentation/adapters/grpc.py
  mmf/framework/documentation/adapters/openapi.py
  mmf/framework/documentation/adapters/unified.py
  mmf/framework/documentation/application/manager.py
  mmf/framework/documentation/domain/models.py
  mmf/framework/documentation/ports/generator.py
  mmf/framework/documentation/templates/grpc_client_examples.md
  mmf/framework/documentation/templates/grpc_docs.html
  mmf/framework/documentation/templates/index.html
  mmf/framework/documentation/templates/openapi_docs.html
  mmf/framework/documentation/templates/unified_docs.html
  pyproject.toml
Due: code-quality-check, docs-consistency

feat: migrate identity OAuth and OIDC to Rust
  Cargo.lock
  Cargo.toml
  contracts/identity-oauth-oidc-behavior.json
  contracts/identity-service-behavior.json
  crates/mmf-security/Cargo.toml
  crates/mmf-security/src/lib.rs
  crates/mmf-security/src/oauth.rs
  crates/mmf-security/src/oidc.rs
  crates/mmf-security/src/uri.rs
  crates/mmf-services/src/identity.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/services/identity/application/ports_out/oauth2/__init__.py
  mmf/services/identity/application/ports_out/oauth2/oauth2_authorization_store.py
  mmf/services/identity/application/ports_out/oauth2/oauth2_client_store.py
  mmf/services/identity/application/ports_out/oauth2/oauth2_provider.py
  mmf/services/identity/application/ports_out/oauth2/oauth2_token_store.py
  mmf/services/identity/application/ports_out/oauth2/oidc_provider.py
  mmf/services/identity/domain/models/__init__.py
  mmf/services/identity/domain/models/oauth2/__init__.py
  mmf/services/identity/domain/models/oauth2/oauth2_authorization.py
  mmf/services/identity/domain/models/oauth2/oauth2_client.py
  mmf/services/identity/domain/models/oauth2/oauth2_token.py
  mmf/services/identity/domain/models/oauth2/oidc_models.py
  mmf/services/identity/domain/models/oidc/__init__.py
  mmf/services/identity/domain/models/oidc/discovery.py
  mmf/services/identity/domain/models/oidc/tokens.py
  mmf/tests/contract/test_identity_service_behavior_contract.py
Due: code-quality-check, docs-consistency

feat: canonicalize signed webhook events
  contracts/push-behavior.json
  crates/mmf-push/src/tests.rs
  crates/mmf-push/src/webhook.rs
Due: none

feat: gate readiness on required components
  contracts/runtime-readiness.json
  crates/mmf-runtime/src/lib.rs
  crates/mmf-runtime/tests/readiness_contract.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
Due: docs-consistency

feat: support terminal path route templates
  contracts/platform-behavior.json
  crates/mmf-platform/src/gateway.rs
Due: none

feat: add canonical HTTP middleware kernels
  Cargo.lock
  contracts/http-runtime-behavior.json
  crates/mmf-platform/Cargo.toml
  crates/mmf-platform/src/http.rs
  crates/mmf-platform/src/lib.rs
  crates/mmf-security/src/rate_limit.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
Due: docs-consistency

feat: migrate identity MFA to Rust
  Cargo.lock
  Cargo.toml
  contracts/identity-mfa-behavior.json
  crates/mmf-security/Cargo.toml
  crates/mmf-security/src/lib.rs
  crates/mmf-security/src/mfa.rs
  crates/mmf-security/src/providers.rs
  crates/mmf-services/src/identity.rs
  crates/mmf-services/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/services/identity/application/ports_out/mfa_provider.py
  mmf/services/identity/domain/models/mfa/__init__.py
  mmf/services/identity/domain/models/mfa/mfa_challenge.py
  mmf/services/identity/domain/models/mfa/mfa_device.py
  mmf/services/identity/domain/models/mfa/mfa_verification.py
  mmf/services/identity/infrastructure/adapters/out/mfa/__init__.py
  mmf/services/identity/infrastructure/adapters/out/mfa/email_mfa_adapter.py
  mmf/services/identity/infrastructure/adapters/out/mfa/sms_mfa_adapter.py
  mmf/services/identity/infrastructure/adapters/out/mfa/totp_adapter.py
  mmf/tests/unit/services/identity/domain/models/mfa/test_mfa_challenge.py
  mmf/tests/unit/services/identity/domain/models/mfa/test_mfa_device.py
  mmf/tests/unit/services/identity/domain/models/mfa/test_mfa_verification.py
  mmf/tests/unit/services/identity/infrastructure/adapters/out/mfa/test_email_mfa_adapter.py
  mmf/tests/unit/services/identity/infrastructure/adapters/out/mfa/test_sms_mfa_adapter.py
  mmf/tests/unit/services/identity/infrastructure/adapters/out/mfa/test_totp_adapter.py
Due: code-quality-check, docs-consistency

feat: migrate core session platform to Rust
  Cargo.lock
  Cargo.toml
  contracts/session-platform-behavior.json
  crates/mmf-security/Cargo.toml
  crates/mmf-security/src/lib.rs
  crates/mmf-security/src/managed_session.rs
  crates/mmf-security/src/providers.rs
  crates/mmf-security/src/security_pipeline.rs
  crates/mmf-security/src/session.rs
  crates/mmf-security/src/session_configuration.rs
  crates/mmf-security/src/session_events.rs
  crates/mmf-security/src/session_keys.rs
  crates/mmf-security/src/session_manager.rs
  crates/mmf-services/src/identity.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  internal_import_analysis.json
  mmf/adapters/session/__init__.py
  mmf/adapters/session/redis_adapter.py
  mmf/core/security/__init__.py
  mmf/core/security/domain/models/session.py
  mmf/core/security/domain/services/middleware/authentication.py
  mmf/core/security/domain/services/middleware/base.py
  mmf/core/security/domain/services/middleware/rate_limit.py
  mmf/core/security/domain/services/middleware/session.py
  mmf/core/security/domain/services/middleware_coordinator.py
  mmf/core/security/ports/common.py
  mmf/core/security/ports/middleware.py
  mmf/core/security/ports/session.py
  mmf/core/security/session_keys.py
  mmf/framework/security/adapters/middleware/fastapi_middleware.py
  mmf/framework/security/adapters/session/memory_session_manager.py
  mmf/framework/security/adapters/session/redis_session_manager.py
  mmf/tests/contract/test_security_behavior_contract.py
  mmf/tests/unit/core/security/domain/models/test_session.py
  mmf/tests/unit/core/security/domain/models/test_session_models.py
  mmf/tests/unit/core/security/domain/services/middleware/test_authentication.py
  mmf/tests/unit/core/security/domain/services/middleware/test_rate_limit_middleware.py
  mmf/tests/unit/core/security/domain/services/middleware/test_session_middleware.py
  mmf/tests/unit/core/security/domain/services/test_middleware_coordinator.py
  mmf/tests/unit/core/security/test_middleware.py
Due: code-quality-check, docs-consistency

feat: add fenced outbox delivery leases
  contracts/messaging-behavior.json
  crates/mmf-messaging/src/lib.rs
  crates/mmf-messaging/src/store.rs
Due: none

feat: migrate identity mTLS to Rust
  contracts/identity-mtls-behavior.json
  crates/mmf-security/src/lib.rs
  crates/mmf-security/src/mtls.rs
  crates/mmf-services/src/identity.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
  mmf/services/identity/domain/models/mtls/__init__.py
  mmf/services/identity/domain/models/mtls/authentication.py
  mmf/services/identity/domain/models/mtls/configuration.py
  mmf/services/identity/domain/models/mtls/models.py
Due: code-quality-check, docs-consistency

feat: add canonical gateway and Cedar kernels
  Cargo.lock
  Cargo.toml
  contracts/gateway-runtime-behavior.json
  crates/mmf-ml/src/lib.rs
  crates/mmf-platform/src/lib.rs
  crates/mmf-platform/src/proxy.rs
  crates/mmf-security/Cargo.toml
  crates/mmf-security/src/cedar.rs
  crates/mmf-security/src/lib.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
Due: docs-consistency

fix: reject reserved outbound addresses
  contracts/outbound-destination-security.json
  crates/mmf-platform/src/client.rs
Due: none

feat: unify grpc server tls policy
  contracts/grpc-server-behavior.json
  crates/mmf-platform/src/grpc.rs
  crates/mmf-platform/tests/grpc_server_behavior.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
Due: docs-consistency

feat: add canonical Redis cache adapter
  Cargo.lock
  crates/mmf-data/Cargo.toml
  crates/mmf-data/src/cache.rs
  crates/mmf-data/tests/redis_cache_behavior.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
Due: docs-consistency

fix: reconnect durable outbox transports
  crates/mmf-messaging/src/outbox_dispatcher.rs
Due: none

feat(security): centralize credential authorization
  contracts/credential-verification-authorization-behavior.json
  crates/mmf-security/src/cedar.rs
  crates/mmf-security/src/credential_verification.rs
  crates/mmf-security/src/lib.rs
Due: none

feat: share Redis connections across keyspaces
  crates/mmf-data/src/cache.rs
  crates/mmf-data/tests/redis_cache_behavior.rs
Due: none

feat: guard outbound destinations centrally
  Cargo.toml
  contracts/outbound-destination-security.json
  crates/mmf-platform/src/client.rs
  crates/mmf-platform/tests/outbound_http_behavior.rs
Due: none

fix: satisfy strict Rust lint gates
  crates/mmf-cli/src/template.rs
  crates/mmf-ml/src/lib.rs
Due: none

feat: add durable PostgreSQL messaging outbox
  Cargo.lock
  Cargo.toml
  crates/mmf-messaging/Cargo.toml
  crates/mmf-messaging/migrations/0001_postgres_outbox.sql
  crates/mmf-messaging/src/lib.rs
  crates/mmf-messaging/src/postgres_outbox.rs
  crates/mmf-messaging/tests/postgres_outbox_behavior.rs
  docs/RUST_PLATFORM_MIGRATION_ROADMAP.md
Due: docs-consistency

feat: add reusable Cedar policy validation
  crates/mmf-security/src/cedar.rs
Due: none
