Repository burdettadam/marty-microservices-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-quality-check, dependencies-check, docs-consistency, makefile-validation, database-layer-validation, service-isolation-validation, template-syntax-validation, template-consistency-validation, cli-functionality-validation, dashboard-validation

Path conditions:
  code-quality-check: any of: \.py$ and not (^(tests/|templates/|examples/|microservice_project_template/|quarantine/)) and not ((?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$
)
  dependencies-check: any of: ^requirements\.txt$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  docs-consistency: any of: ^(README\.md|.*\.md|scripts/.*\.py)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  makefile-validation: any of: ^Makefile$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  database-layer-validation: any of: ^templates/.*/database/.*\.(ts|go|java|py)$|^templates/.*/internal/database/.*\.go$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  service-isolation-validation: any of: ^templates/.*/.*\.(ts|go|java|py|yaml|json)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  template-syntax-validation: any of: ^templates/.*\.j2$|^templates/.*\.yaml$|^templates/.*\.json\.j2$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  template-consistency-validation: any of: ^templates/.*$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  cli-functionality-validation: any of: ^marty_cli/.*\.py$|^CLI_README\.md$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  dashboard-validation: any of: ^dashboard/.*$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$


fix: Remove await from get_pool_manager() calls to fix compatibility
  examples/resilience/example_resilient_service.py
  src/marty_msf/framework/resilience/connection_pools/manager.py
  src/marty_msf/framework/resilience/consolidated_manager.py
  src/marty_msf/framework/resilience/middleware.py
Due: code-quality-check

fix: Replace aioredis with redis-py async for Python 3.14 compatibility
  pyproject.toml
  src/marty_msf/core/di_container.py
  src/marty_msf/framework/resilience/connection_pools/redis_pool.py
Due: code-quality-check

fix: Export PoolType from connection_pools module
  src/marty_msf/framework/resilience/__init__.py
  src/marty_msf/framework/resilience/connection_pools/__init__.py
Due: code-quality-check

Fix Docker container startup by adding pyyaml dependency
  Dockerfile
Due: none

Fix Docker CMD to use system Python instead of uv run
  Dockerfile
Due: none

MMF Configuration Migration: Complete rewrite to hierarchical structure
  .secrets.baseline
  boneyard/README.md
  boneyard/config_migration_20251112/README.md
  boneyard/config_migration_20251112/base.yaml
  boneyard/config_migration_20251112/development.yaml
  boneyard/config_migration_20251112/production.yaml
  boneyard/config_migration_20251112/testing.yaml
  mmf_new/config/base.yaml
  mmf_new/config/environments/development.yaml
  mmf_new/config/environments/production.yaml
  mmf_new/config/environments/testing.yaml
  mmf_new/config/platform/core.yaml
  mmf_new/config/services/api-gateway.yaml
  mmf_new/config/services/identity-service.yaml
  mmf_new/core/__init__.py
  mmf_new/core/application/database.py
  mmf_new/core/infrastructure/__init__.py
  mmf_new/core/infrastructure/config.py
  mmf_new/examples/configuration_example.py
  mmf_new/examples/configuration_migration_demo.py
  mmf_new/examples/old_config_migration_helper.py
  mmf_new/services/identity/infrastructure/adapters/config_integration.py
  mmf_new/services/identity/infrastructure/adapters/user_repository_impl.py
  mmf_new/services/identity/integration/configuration.py
  src/marty_msf/framework/config.py
  tests/e2e/test_end_to_end.py
Due: code-quality-check, docs-consistency

refactor: consolidate JWT middleware and remove old mmf directory
  boneyard/configuration_mmf_integration_20251113.py
  boneyard/http_endpoints_mmf_integration_20251113.py
  boneyard/integration_init_mmf_20251113.py
  boneyard/jwt_middleware_infrastructure_20251113.py
  boneyard/middleware_mmf_integration_20251113.py
  boneyard/mmf_identity_tests_20251113/__init__.py
  boneyard/mmf_identity_tests_20251113/application/test_authenticate_principal_usecase.py
  boneyard/mmf_identity_tests_20251113/domain/test_security_principal.py
  mmf/platform_core/__init__.py
  mmf/platform_core/contracts/__init__.py
  mmf/platform_core/policies/__init__.py
  mmf/services/__init__.py
  mmf/services/identity/__init__.py
  mmf/services/identity/application/__init__.py
  mmf/services/identity/application/policies/__init__.py
  mmf/services/identity/application/ports_in/__init__.py
  mmf/services/identity/application/ports_in/authenticate_principal.py
  mmf/services/identity/application/ports_out/__init__.py
  mmf/services/identity/application/ports_out/principal_repository.py
  mmf/services/identity/application/usecases/__init__.py
  mmf/services/identity/application/usecases/authenticate_principal.py
  mmf/services/identity/domain/__init__.py
  mmf/services/identity/domain/contracts/__init__.py
  mmf/services/identity/domain/models/__init__.py
  mmf/services/identity/domain/models/security_principal.py
  mmf/services/identity/infrastructure/__init__.py
  mmf/services/identity/infrastructure/adapters/__init__.py
  mmf/services/identity/infrastructure/adapters/in_memory_principal_repository.py
  mmf/services/identity/platform/__init__.py
  mmf/services/identity/tests/__init__.py
  mmf_new/services/identity/integration/__init__.py
  mmf_new/services/identity/integration/middleware.py
Due: code-quality-check

Archive platform_core to boneyard
  boneyard/platform_core_20251113/contracts/__init__.py
  boneyard/platform_core_20251113/plugin_api.py
Due: code-quality-check

Update services migration strategy - mark as completed
  docs/SERVICES_MIGRATION_STRATEGY.md
Due: docs-consistency

Migrate events and messaging frameworks to mmf_new
  mmf_new/core/events/__init__.py
  mmf_new/core/events/config.py
  mmf_new/core/events/decorators.py
  mmf_new/core/events/enhanced_event_bus.py
  mmf_new/core/events/enhanced_events.py
  mmf_new/core/events/event_bus_service.py
  mmf_new/core/events/exceptions.py
  mmf_new/core/events/types.py
  mmf_new/core/messaging/__init__.py
  mmf_new/core/messaging/api.py
  mmf_new/core/messaging/bootstrap.py
  mmf_new/core/messaging/extended/README.md
  mmf_new/core/messaging/extended/__init__.py
  mmf_new/core/messaging/extended/aws_sns_backend.py
  mmf_new/core/messaging/extended/examples.py
  mmf_new/core/messaging/extended/extended_architecture.py
  mmf_new/core/messaging/extended/nats_backend.py
  mmf_new/core/messaging/extended/saga_integration.py
  mmf_new/core/observability/kafka/__init__.py
Due: code-quality-check, docs-consistency

Archive old events and messaging modules to boneyard
  boneyard/events_messaging_migration_20251114/README.md
  boneyard/events_messaging_migration_20251114/events/__init__.py
  boneyard/events_messaging_migration_20251114/events/config.py
  boneyard/events_messaging_migration_20251114/events/decorators.py
  boneyard/events_messaging_migration_20251114/events/enhanced_event_bus.py
  boneyard/events_messaging_migration_20251114/events/enhanced_events.py
  boneyard/events_messaging_migration_20251114/events/event_bus_service.py
  boneyard/events_messaging_migration_20251114/events/exceptions.py
  boneyard/events_messaging_migration_20251114/events/types.py
  boneyard/events_messaging_migration_20251114/messaging/__init__.py
  boneyard/events_messaging_migration_20251114/messaging/api.py
  boneyard/events_messaging_migration_20251114/messaging/bootstrap.py
  boneyard/events_messaging_migration_20251114/messaging/extended/README.md
  boneyard/events_messaging_migration_20251114/messaging/extended/__init__.py
  boneyard/events_messaging_migration_20251114/messaging/extended/aws_sns_backend.py
  boneyard/events_messaging_migration_20251114/messaging/extended/examples.py
  boneyard/events_messaging_migration_20251114/messaging/extended/extended_architecture.py
  boneyard/events_messaging_migration_20251114/messaging/extended/nats_backend.py
  boneyard/events_messaging_migration_20251114/messaging/extended/saga_integration.py
Due: code-quality-check, docs-consistency

Migrate patterns module (Event Sourcing, Saga) to mmf_new
  mmf_new/core/messaging/extended/__init__.py
  mmf_new/core/messaging/extended/saga_integration.py
  mmf_new/core/patterns/__init__.py
  mmf_new/core/patterns/config.py
  mmf_new/core/patterns/event_streaming/__init__.py
  mmf_new/core/patterns/event_streaming/event_sourcing.py
  mmf_new/core/patterns/event_streaming/saga.py
  mmf_new/core/patterns/examples/comprehensive_example.py
  mmf_new/core/patterns/outbox/enhanced_outbox.py
Due: code-quality-check

Archive old patterns and event_streaming modules to boneyard
  boneyard/patterns_migration_20251114/README.md
  boneyard/patterns_migration_20251114/event_streaming/__init__.py
  boneyard/patterns_migration_20251114/event_streaming/event_sourcing.py
  boneyard/patterns_migration_20251114/event_streaming/saga.py
  boneyard/patterns_migration_20251114/patterns/config.py
  boneyard/patterns_migration_20251114/patterns/examples/comprehensive_example.py
  boneyard/patterns_migration_20251114/patterns/outbox/enhanced_outbox.py
Due: code-quality-check, docs-consistency

Migrate grpc framework to mmf_new and update observability integration
  mmf_new/core/grpc/__init__.py
  mmf_new/core/grpc/unified_grpc_server.py
  mmf_new/core/observability/correlation.py
  mmf_new/core/observability/metrics_middleware.py
  mmf_new/core/observability/monitoring/middleware.py
  mmf_new/core/observability/standard_correlation.py
Due: code-quality-check

Archive old grpc framework to boneyard
  boneyard/grpc_migration_20251115/README.md
  boneyard/grpc_migration_20251115/grpc/__init__.py
  boneyard/grpc_migration_20251115/grpc/unified_grpc_server.py
Due: code-quality-check, docs-consistency

Fix broken import in patterns config.py
  mmf_new/core/patterns/config.py
Due: code-quality-check

Migrate config system to mmf_new with proper DI integration
  boneyard/config_migration_20251115/README.md
  boneyard/config_migration_20251115/config/__init__.py
  boneyard/config_migration_20251115/config/manager.py
  boneyard/config_migration_20251115/config/plugin_config.py
  boneyard/config_migration_20251115/config/unified.py
  boneyard/config_migration_20251115/di_container.py
  mmf_new/core/patterns/config.py
  mmf_new/infrastructure/__init__.py
  mmf_new/infrastructure/config.py
  mmf_new/infrastructure/config_manager.py
  mmf_new/infrastructure/dependency_injection.py
  mmf_new/infrastructure/plugin_config.py
  mmf_new/infrastructure/unified_config.py
Due: code-quality-check, docs-consistency

feat(cache): migrate enterprise caching infrastructure to mmf_new
  mmf_new/infrastructure/__init__.py
  mmf_new/infrastructure/cache/__init__.py
  mmf_new/infrastructure/cache/manager.py
Due: code-quality-check

fix: update GitHub Actions workflows to use mmf_new directory
  .github/workflows/comprehensive-e2e.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pr-validation.yml
  .github/workflows/quick-e2e-kind.yml
Due: none

fix: update test script to use mmf_new directory
  tests/run_mmf_tests.sh
Due: none

fix: add numpy to test dependencies
  pyproject.toml
Due: none

style: fix formatting issues in mmf_new
  mmf_new/examples/configuration_migration_demo.py
  mmf_new/examples/old_config_migration_helper.py
Due: code-quality-check

ci: fix workflow paths and remove dependency on missing script
  .github/workflows/comprehensive-e2e.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pr-validation.yml
Due: none

fix: update ultra direct load balancing test to handle health checks
  mmf_new/tests/unit/framework/test_ultra_direct_load_balancing.py
Due: code-quality-check

feat: Add cache infrastructure and push notification framework
  mmf/adapters/__init__.py
  mmf/adapters/auth/__init__.py
  mmf/adapters/cache/__init__.py
  mmf/adapters/cache/redis_cache.py
  mmf/adapters/credentials/__init__.py
  mmf/adapters/credentials/multipaz.py
  mmf/adapters/credentials/persistence.py
  mmf/adapters/credentials/spruceid.py
  mmf/core/__init__.py
  mmf/core/cache.py
  mmf/core/credentials/__init__.py
  mmf/core/plugins.py
  mmf/core/push.py
  mmf/core/security/__init__.py
  mmf/core/security/ports/__init__.py
  mmf/core/security/ports/kms.py
  mmf/core/security/session_keys.py
  mmf/framework/observability/__init__.py
  mmf/framework/observability/cache_metrics.py
  mmf/framework/push/__init__.py
  mmf/framework/push/fcm.py
  mmf/framework/push/lifecycle.py
  mmf/framework/push/mock.py
  mmf/framework/push/sse.py
  mmf/framework/push/webhook.py
  mmf/tests/unit/core/test_cache.py
  scripts/pre_commit_check_globals.py
Due: code-quality-check, docs-consistency

fix: disable coverage for architecture tests and fix E2E workflow
  .github/workflows/e2e-tests.yml
  .github/workflows/pr-validation.yml
Due: none
