Repository burdettadam/marty-microservices-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, template-validation, framework-tests, dependencies-check, docs-consistency, makefile-validation

Path conditions:
  mypy-type-check: any of: ^scripts/.*\.py$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  template-validation: any of: ^(scripts/.*\.py|service/.*\.j2|mypy\.ini|requirements\.txt)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  framework-tests: any of: ^(scripts/.*\.py|service/.*\.j2|mypy\.ini|requirements\.txt|Makefile)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  dependencies-check: any of: ^requirements\.txt$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  docs-consistency: any of: ^(README\.md|.*\.md|scripts/.*\.py)$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$

  makefile-validation: any of: ^Makefile$, but not: (?x)^(
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  src/test_.*|
  src/demo_.*|
  temp/.*|
  microservice_project_template/\.venv/.*|
  .*\.log
)$


feat: Add marty_chassis standalone package with UV support
  COMPLETION_STATUS.md
  Makefile
  UV_ADOPTION_SUMMARY.md
  marty_chassis/README.md
  marty_chassis/__init__.py
  marty_chassis/cli/main.py
  marty_chassis/clients/__init__.py
  marty_chassis/config/__init__.py
  marty_chassis/examples/grpc_service.py
  marty_chassis/examples/user_service.py
  marty_chassis/exceptions.py
  marty_chassis/factories/__init__.py
  marty_chassis/factories/fastapi_factory.py
  marty_chassis/factories/grpc_factory.py
  marty_chassis/factories/hybrid_factory.py
  marty_chassis/health/__init__.py
  marty_chassis/integration_test.py
  marty_chassis/logger/__init__.py
  marty_chassis/metrics/__init__.py
  marty_chassis/pyproject.toml
  marty_chassis/resilience/__init__.py
  marty_chassis/security/__init__.py
  marty_chassis/service_mesh/__init__.py
  marty_chassis/templates/__init__.py
  marty_chassis/test_uv_adoption.py
  marty_chassis/tests/test_chassis.py
  observability/kafka/docker-compose.kafka.yml
  observability/monitoring/docker-compose.monitoring.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scripts/setup_framework.sh
Due: template-validation, framework-tests, dependencies-check, docs-consistency, makefile-validation

feat: implement hexagonal architecture with Morty service reference
  marty_chassis/__init__.py
  marty_chassis/factories/hexagonal_factory.py
  scripts/validate_templates.py
  service/morty_service/README.md
  service/morty_service/__init__.py
  service/morty_service/application/__init__.py
  service/morty_service/application/ports/__init__.py
  service/morty_service/application/ports/input_ports.py
  service/morty_service/application/ports/output_ports.py
  service/morty_service/application/use_cases.py
  service/morty_service/config.py
  service/morty_service/domain/__init__.py
  service/morty_service/domain/entities.py
  service/morty_service/domain/events.py
  service/morty_service/domain/services.py
  service/morty_service/domain/value_objects.py
  service/morty_service/infrastructure/__init__.py
  service/morty_service/infrastructure/adapters/__init__.py
  service/morty_service/infrastructure/adapters/database_adapters.py
  service/morty_service/infrastructure/adapters/event_adapters.py
  service/morty_service/infrastructure/adapters/http_adapter.py
  service/morty_service/infrastructure/adapters/models.py
  service/morty_service/main.py
Due: mypy-type-check, template-validation, framework-tests, docs-consistency

feat: implement comprehensive plugin architecture
  marty_chassis/__init__.py
  marty_chassis/plugins/README.md
  marty_chassis/plugins/__init__.py
  marty_chassis/plugins/core_services.py
  marty_chassis/plugins/decorators.py
  marty_chassis/plugins/discovery.py
  marty_chassis/plugins/examples/__init__.py
  marty_chassis/plugins/examples/authentication_plugin.py
  marty_chassis/plugins/examples/logging_plugin.py
  marty_chassis/plugins/examples/metrics_plugin.py
  marty_chassis/plugins/examples/middleware_plugin.py
  marty_chassis/plugins/examples/service_discovery_plugin.py
  marty_chassis/plugins/exceptions.py
  marty_chassis/plugins/extension_points.py
  marty_chassis/plugins/factory.py
  marty_chassis/plugins/interfaces.py
  marty_chassis/plugins/isolation.py
  marty_chassis/plugins/manager.py
  marty_chassis/plugins/test_plugins.py
Due: docs-consistency

feat: comprehensive E2E testing suite with performance analysis
  marty_chassis/plugins/examples/__init__.py
  marty_chassis/plugins/examples/circuit_breaker_plugin.py
  marty_chassis/plugins/examples/monitoring_plugin.py
  marty_chassis/plugins/examples/pipeline_plugin.py
  marty_chassis/plugins/examples/simulation_plugin.py
  pyproject.toml
  tests/e2e/README.md
  tests/e2e/conftest.py
  tests/e2e/performance_reporting.py
  tests/e2e/test_auditability.py
  tests/e2e/test_bottleneck_analysis.py
  tests/e2e/test_master_e2e.py
  tests/e2e/test_playwright_visual.py
  tests/e2e/test_timeout_detection.py
Due: docs-consistency

docs: comprehensive E2E testing suite documentation and results
  README.md
  demo_e2e_capabilities.py
  e2e_test_demo_results.json
  marty_chassis/config/exceptions.py
  pyproject.toml
Due: docs-consistency

feat: Implement certificate management plugin foundation
  CERTIFICATE_MANAGEMENT_IMPLEMENTATION_STATUS.md
  marty_chassis/plugins/certificate_management/__init__.py
  marty_chassis/plugins/certificate_management/config.py
  marty_chassis/plugins/certificate_management/exceptions.py
  marty_chassis/plugins/certificate_management/interfaces.py
  marty_chassis/plugins/certificate_management/models.py
  marty_chassis/plugins/certificate_management/plugin.py
Due: docs-consistency

feat: implement unified event publishing system
  EVENT_BUS_UTILITIES_SUMMARY.md
  docs/event-publishing-guide.md
  examples/README.md
  examples/event_publishing_migration.py
  examples/simple_event_example.py
  src/framework/database/__init__.py
  src/framework/database/outbox.py
  src/framework/events/__init__.py
  src/framework/events/config.py
  src/framework/events/decorators.py
  src/framework/events/exceptions.py
  src/framework/events/publisher.py
  src/framework/events/types.py
Due: docs-consistency

feat: implement unified metrics and tracing for Marty Microservices Framework
  MIGRATION_EXAMPLE.md
  OBSERVABILITY_IMPLEMENTATION_SUMMARY.md
  src/framework/__init__.py
  src/framework/observability/README.md
  src/framework/observability/__init__.py
  src/framework/observability/framework_metrics.py
  src/framework/observability/metrics_middleware.py
  src/framework/observability/monitoring.py
  src/framework/observability/tracing.py
  src/framework/security/auth.py
Due: docs-consistency

feat: implement unified service launcher and migration framework
  .pre-commit-config.yaml
  DISTRIBUTION_PLAN.md
  IMPLEMENTATION_SUMMARY.md
  MIGRATION_GUIDE.md
  marty_cli/__init__.py
  pyproject.toml
  templates/fastapi-service/config.yaml.j2
  templates/fastapi-service/main.py.new.j2
Due: docs-consistency

feat: add modern service implementations with unified observability
  docs/modern_service_guide.md
  examples/marty_service_migration.py
  src/framework/config.py
  src/framework/config_factory.py
  src/framework/grpc/unified_grpc_server.py
  src/framework/observability/unified_observability.py
  src/framework/security/authorization.py
  src/framework/security/config.py
  src/framework/security/errors.py
  templates/modern_service_template.py
  templates/service_config_template.yaml
Due: docs-consistency

feat: complete Marty MMF Helm-to-Kustomize migration implementation
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-deploy.yml
  .github/workflows/reusable-security.yml
  docs/migration/HELM_TO_KUSTOMIZE.md
  docs/migration/TROUBLESHOOTING.md
  marty_cli/__init__.py
  marty_cli/commands.py
  microservice_project_template/k8s/base/deployment.yaml
  microservice_project_template/k8s/base/hpa.yaml
  microservice_project_template/k8s/base/kustomization.yaml
  microservice_project_template/k8s/base/networkpolicy.yaml
  microservice_project_template/k8s/base/pdb.yaml
  microservice_project_template/k8s/base/podmonitor.yaml
  microservice_project_template/k8s/base/serviceaccount.yaml
  microservice_project_template/k8s/base/servicemonitor.yaml
  microservice_project_template/k8s/overlays/marty-dev/kustomization.yaml
  microservice_project_template/k8s/overlays/marty-dev/namespace.yaml
  microservice_project_template/k8s/overlays/marty-dev/patch-dev-deployment.yaml
  microservice_project_template/k8s/overlays/marty-dev/patch-dev-hpa.yaml
  microservice_project_template/k8s/overlays/marty-services/kustomization.yaml
  microservice_project_template/k8s/overlays/marty-services/migration-job.yaml
  microservice_project_template/k8s/overlays/marty-services/patch-deployment.yaml
  microservice_project_template/k8s/overlays/marty-services/patch-service.yaml
  microservice_project_template/k8s/overlays/marty-services/pvc.yaml
  scripts/helm_to_kustomize_converter.py
Due: mypy-type-check, template-validation, framework-tests, docs-consistency

feat: add comprehensive MMF enhancements for complete Marty migration
  ENHANCED_FRAMEWORK_README.md
  examples/enhanced_integration_demo.py
  src/framework/logging/__init__.py
  src/framework/resilience/__init__.py
  src/framework/resilience/enhanced/__init__.py
  src/framework/resilience/enhanced/advanced_retry.py
  src/framework/resilience/enhanced/chaos_engineering.py
  src/framework/resilience/enhanced/enhanced_circuit_breaker.py
  src/framework/resilience/enhanced/graceful_degradation.py
  src/framework/resilience/enhanced/grpc_interceptors.py
  src/framework/resilience/enhanced/monitoring.py
  src/framework/resilience/enhanced/outbound_resilience.py
  src/framework/testing/enhanced_testing.py
Due: docs-consistency

Implement all remaining stub methods in resilience and testing frameworks
  src/framework/resilience/enhanced/enhanced_circuit_breaker.py
  src/framework/resilience/enhanced/graceful_degradation.py
  src/framework/testing/test_automation.py
Due: none

feat: hard dependency expectations
  MARTY_MMF_PLUGIN_IMPLEMENTATION_SUMMARY.md
  README_PLUGIN_SYSTEM.md
  config/plugins/marty.yaml
  examples/marty_plugin_example.py
  examples/service_migration_example.py
  pyproject.toml
  src/framework/config/__init__.py
  src/framework/config/manager.py
  src/framework/config/plugin_config.py
  src/framework/events/config.py
  src/framework/gateway/middleware.py
  src/framework/messaging/core.py
  src/framework/plugins/__init__.py
  src/framework/plugins/core.py
  src/framework/plugins/decorators.py
  src/framework/plugins/discovery.py
  src/framework/plugins/services.py
  src/framework/security/hardening.py
  src/framework/security/middleware.py
  src/framework/security/rate_limiting.py
  tests/plugins/README.md
  tests/plugins/__init__.py
  tests/plugins/conftest.py
  tests/plugins/pyproject.toml
  tests/plugins/requirements-test.txt
  tests/plugins/run_tests.sh
  tests/plugins/test_config.py
  tests/plugins/test_core.py
  tests/plugins/test_discovery.py
  tests/plugins/test_integration.py
  tests/plugins/test_services.py
Due: docs-consistency

refactor: migrate to BaseServiceConfig and clean up imports
  observability/kafka/docker-compose.kafka.yml
  observability/logging/docker-compose.elk.yml
  observability/monitoring/docker-compose.monitoring.yml
  observability/tracing/docker-compose.jaeger.yml
  src/framework/config_factory.py
  src/framework/observability/unified_observability.py
Due: none

feat: pause ci cd checks
  .github/workflows/infrastructure-testing.yml
  .github/workflows/phase2-ci-cd.yml
  .github/workflows/security-compliance.yml
  microservice_project_template/.github/workflows/ci.yml
  microservice_project_template/.github/workflows/release.yml
Due: none

ignore keys
  .gitignore
Due: none
